<div class="container">
    <div class="a-row a-spacing-base m-b-20">
        <h1 class="m-t-20">
            Your Account
        </h1>
        <div class="row m-t-20">
            <div class="col-md-4 border-style">
                <div class="row">
                    <div class="col-md-3">
                        <img alt="Your Orders"
                            src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/Box._CB485927553_.png">
                    </div>
                    <div class="col-md-9">
                        <h5><b>Your Orders</b></h5>
                        <div>
                            <small>Track,return or buy things again</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-style">
                <div class="row">
                    <div class="col-md-3">
                        <img alt="Your Orders"
                            src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/sign-in-lock._CB485931504_.png">
                    </div>
                    <div class="col-md-9">
                        <h5><b>Login & Security</b></h5>
                        <div>
                            <small>Edit,login,name and mobile number</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-style">
                <div class="row">
                    <div class="col-md-3">
                        <img alt="Your Orders"
                            src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/rc_prime._CB485926807_.png">
                    </div>
                    <div class="col-md-9">
                        <h5><b>Wishlist</b></h5>
                        <div>
                            <small>View wishlists</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-md-4 border-style">
                <div class="row">
                    <div class="col-md-3">
                        <img alt="Your Addresses"
                            src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/address-map-pin._CB485934183_.png">
                    </div>
                    <div class="col-md-9">
                        <h5><b>Your Addresses</b></h5>
                        <div>
                            <small>Edit addresses for orders and gifts</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-style">
                <div class="row">
                    <div class="col-md-3">
                        <img alt="Payment options"
                            src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/Payments._CB485926359_.png">
                    </div>
                    <div class="col-md-9">
                        <h5><b>Payment Options</b></h5>
                        <div>
                            <small>Edit or add payment methods</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-style">
                <div class="row">
                    <div class="col-md-3">
                        <img alt="Amazon Pay balance"
                            src="https://images-na.ssl-images-amazon.com/images/G/31/x-locale/cs/ya/images/amazon_pay._CB485946857_.png">
                    </div>
                    <div class="col-md-9">
                        <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                             <b>Wallet</b>
                        </h2>
                        <div><span class="a-color-secondary">Add money to your balance</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>