<div class="container-fluid m-t-20">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">
        Top Sellers
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
    <!-- //tittle heading -->
    <!-- product right -->

    <div class="agileinfo-ads-display col-md-12 m-t-30">
        <div class="wrapper">
            <!-- third section (oils) -->
            <div class="row">
                <div class="col-md-4" *ngFor="let seller of sellersList">
                    <div class="panel padding-20">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img [src]="seller.image" alt="" *ngIf="seller.image ! == null" (click)="navigateToDetailPage(seller.id)"/>
                                <img src="../../../../../assets/images/defaultImage.png" 
                                alt=""*ngIf="seller.image === null ||seller.image === undefined"
                                (click)="navigateToDetailPage(seller.id)" />

                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="single.html">{{seller.name}}</a>
                                </h4>
                                <div class="info-product-price row">
                                    <div class="col-md-6">
                                        <span class="item_price m-r-10">Revenue</span>
                                        <span>335,378</span>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <small class="text-success">
                                                    <div class="dashboard-rating1">
                                                      <span class="dashboard-starRating">
                                                        <input id="rating5" type="radio"  value="5" [checked]="seller.star_rate === 5"/>
                                                        <label for="rating5"></label>
                                                        <input id="rating4" type="radio"  value="4" [checked]="seller.star_rate === 4"/>
                                                        <label for="rating4"></label>
                                                        <input id="rating3" type="radio"  value="3" [checked]="seller.star_rate === 3" />
                                                        <label for="rating3"></label>
                                                        <input id="rating2" type="radio"  value="2" [checked]="seller.star_rate === 2"/>
                                                        <label for="rating2"></label>
                                                        <input id="rating1" type="radio"  value="1" [checked]="seller.star_rate === 1"/>
                                                        <label for="rating1"></label>
                                                      </span>
                                                    </div>
                                                  </small>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- //fourth section (noodles) -->
        </div>
    </div>
    <!-- //product right -->
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>