<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 class="tittle-w3l">Orders
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped example1 m-t-10">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Total Items</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01-512-122</td>
                        <td>June 12 2020</td>
                        <td>Delivered</td>
                        <td>1</td>
                        <td>150</td>
                        <td>
                            <a routerLink="/dashboard/sales/order-details" class="dropdown-item font-12"><i class="fa fa-eye m-r-5 icon-style" title="View"></i>
                            </a>

                            <a routerLink="/dashboard/sales/invoice-details" class="dropdown-item font-12"><i
                                    class="fa fa-file-text m-r-5 m-l-10 icon-style" title="View Invoice"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Total Items</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>