<div class="container-fluid m-t-20">
  <!-- tittle heading -->
  <h3 class="tittle-w3l">
    Products
    <span class="heading-style">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </h3>
  <!-- //tittle heading -->
  <div class="col-md-3 m-t-30">
    <select class="form-control" (change)="getCategoryId($event)">
      <option value="0">All Categories</option>
      <option *ngFor="let x of categoryList" [value]="x.id">{{x.name}}
      </option>
    </select>
    <h3 class="h1-color m-t-10"></h3>
    <ejs-treeview *ngIf="hasSubCategory" [fields]='field' (nodeClicked)='categoryNodeclicked($event)'>
    </ejs-treeview>
  </div>
  <!-- product right -->

  <div class="agileinfo-ads-display col-md-9 m-t-30">
    <div class="wrapper">
      <div class="row">
        <div *ngFor="let product of products; let i= index;">
          <div class="col-md-4">
            <div class="panel padding-20">
              <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                  <img [src]="getProductImage(product)" alt="" height="100" width="100" />
                  <span class="product-new-top"><a type="button" data-toggle="dropdown">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item font-12 " (click)="navigateToDetailPage(product?.id)">
                        <i class="fa fa-eye m-r-10 m-l-10 cursor"></i>
                        View</a>
                      <a class="dropdown-item font-12 "
                        (click)="navigateToEditPage(product?.id, product?.category_id)"><i
                          class="fa fa-pencil m-r-10 m-l-10 cursor"></i>
                        Edit</a>
                      <a class="dropdown-item font-12 " (click)="deleteProduct(product?.id, i)"><i
                          class="fa fa-trash m-r-10 m-l-10 cursor"></i>
                        Delete</a>
                    </div>
                  </span>
                </div>
                <div class="item-info-product">
                  <h5>
                    <span>{{product.category}}</span>
                  </h5>
                  <h4 class="m-t-10">
                    <a>{{product.name}}</a>
                  </h4>
                  <div class="info-product-price row">
                    <div class="col-md-6">
                      <span class="item_price">{{product.price}}</span>
                      <del>$255.00</del>
                    </div>
                    <div class="col-md-6 p-l-0">
                      <ul>
                        <li>
                          <small class="text-success">
                            <div class="dashboard-rating1">
                              <span class="dashboard-starRating">
                                <input id="rating5" type="radio"  value="5" [checked]="product.star_rate === 5"/>
                                <label for="rating5"></label>
                                <input id="rating4" type="radio"  value="4" [checked]="product.star_rate === 4"/>
                                <label for="rating4"></label>
                                <input id="rating3" type="radio"  value="3" [checked]="product.star_rate === 3" />
                                <label for="rating3"></label>
                                <input id="rating2" type="radio"  value="2" [checked]="product.star_rate === 2"/>
                                <label for="rating2"></label>
                                <input id="rating1" type="radio"  value="1" [checked]="product.star_rate === 1"/>
                                <label for="rating1"></label>
                              </span>
                            </div>
                          </small>
                        </li>
                      </ul>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //product right -->
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
  style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>