.rightCardStyle {
  border: 1px #ddd solid;
  padding: 10px;
}

.background {
  background-color: #f3f3f3;
  margin-top: -1px;
  text-align: center;
  padding: 20px;
}

a {
  color: #0066c0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #c45500;
  cursor: pointer;
}

.btn-width {
  width: 60%;
}

.m-t-55 {
  margin-top: 55px;
}

.dropdown-style {
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  width: 25%;
}

.expiry-date {
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
}

.btn-secondary {
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
}

.m-l-36 {
  margin-left: 36px;
}

.input-style {
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.background-style {
  border-color: #fbd8b4;
  background-color: #fcf5ee;
  padding: 6px 25px 25px 0px;
}

.upi-style {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 16px;
}

.sub-some {
  margin-top: 0px;
}

.margin-left-19 {
  margin-left: -19px;
}