<div class="container-fluid m-t-20">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">
        Subscribers
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
    <!-- //tittle heading -->
    <!-- product right -->
    <div class="agileinfo-ads-display col-md-12 m-t-30">
        <div class="wrapper">
            <!-- third section (oils) -->
            <div class="row">
                <div class="col-md-4">
                    <div class="panel padding-20 highlight" routerLink="/dashboard/subscriptions/seller-details">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="./assets/images/download.png" alt="" />
                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="single.html">Appario</a>
                                </h4>
                                <div class="info-product-price row">
                                    <div class="col-md-6">
                                        <span class="item_price m-r-10">Revenue</span>
                                        <span>335,378</span>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel padding-20 highlight" routerLink="/dashboard/subscriptions/seller-details">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="./assets/images/download.png" alt="" />

                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="single.html">Amazon Retail Pantry</a>
                                </h4>
                                <div class="info-product-price row">
                                    <div class="col-md-6">
                                        <span class="item_price m-r-10">Revenue</span>
                                        <span>335,378</span>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel padding-20 highlight" routerLink="/dashboard/subscriptions/seller-details">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="./assets/images/download.png" alt="" />

                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="single.html">uRead-Store</a>
                                </h4>
                                <div class="info-product-price row">
                                    <div class="col-md-6">
                                        <span class="item_price m-r-10">Revenue</span>
                                        <span>335,378</span>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //third section (oils) -->
            <!-- fourth section (noodles) -->
            <div class="row">
                <div class="col-md-4 ">
                    <div class="panel padding-20 highlight" routerLink="/dashboard/subscriptions/seller-details">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="./assets/images/download.png" alt="" />

                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="single.html">Appario</a>
                                </h4>
                                <div class="info-product-price row">
                                    <div class="col-md-6">
                                        <span class="item_price m-r-10">Revenue</span>
                                        <span>335,378</span>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel padding-20 highlight" routerLink="/dashboard/subscriptions/seller-details">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="./assets/images/download.png" alt="" />
                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="single.html">Cloudtail Pantry</a>
                                </h4>
                                <div class="info-product-price row">
                                    <div class="col-md-6">
                                        <span class="item_price m-r-10">Revenue</span>
                                        <span>335,378</span>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel padding-20 highlight" routerLink="/dashboard/subscriptions/seller-details">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="./assets/images/download.png" alt="" />

                            </div>
                            <div class="item-info-product">
                                <h4>
                                    <a href="single.html"> Cloudtail India</a>
                                </h4>
                                <div class="info-product-price row">
                                    <div class="col-md-6">
                                        <span class="item_price m-r-10">Revenue</span>
                                        <span>335,378</span>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>

                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- //fourth section (noodles) -->
        </div>
    </div>
    <!-- //product right -->
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>