<app-header></app-header>
<!-- banner-2 -->
<div class="page-head_agile_info_w3l"></div>
<!-- //banner-2 -->
<div class="container-fluid margin-30">
  <!-- //tittle heading -->
  <div class="checkout-right">
    <!--Horizontal Tab-->
    <div id="parentHorizontalTab">
      <ul class="resp-tabs-list hor_1">
        <li>Your Lists</li>
        <li>Your Idea Lists</li>
        <li>Your Friends</li>
      </ul>
      <div class="resp-tabs-container hor_1">
        <div>
          <div class="vertical_post check_box_agile">
            <div class="row">
              <div class="col-md-3 background">
                <div class="row">
                  <div class="col-md-6">
                    <a class="font-style">Shopping List</a>
                    <div>
                      <small><a class="text-style">Default List</a></small>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <small><a class="text-style"> Private</a></small>
                  </div>
                </div>
              </div>
              <div class="col-md-9 p-l-40">
                <div class="border-class">
                  <p class="font-style">
                    Shopping List<small class="small-font m-l-10 private-style"
                      >Private</small
                    >
                    <span class="float">
                      <a class="small-font m-r-10"
                        ><i class="fa fa-share-alt m-r-10 font-13"></i>Send list
                        to others</a
                      >|
                      <span class="dropdown">
                        <a
                          class="small-font dropdown-toggle"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          ><i
                            class="glyphicon glyphicon-option-horizontal m-r-10 font-13"
                          ></i
                          >More</a
                        >
                        <ul class="dropdown-menu">
                          <li><a href="#">Manage List</a></li>
                          <li><a href="#">Print List</a></li>
                        </ul>
                      </span>
                    </span>
                  </p>
                  <div class="m-b-10">
                    <i class="fa fa-user"></i>
                    <button class="btn button-style m-l-10">
                      <a><i class="fa fa-plus m-r-10"></i>Invite</a>
                    </button>
                  </div>
                </div>
                <div class="border-class padding-20">
                  <span class="buttons">
                    <a class="text-style grid-class"
                      ><i class="glyphicon glyphicon-th"></i
                    ></a>
                    <a class="text-style active list-class m-l-10"
                      ><i class="glyphicon glyphicon-th-list"></i
                    ></a>
                  </span>

                  <small
                    ><a>
                      <i class="fa fa-plus m-l-10"></i>Add Idea to List</a
                    ></small
                  >
                  <span class="float">
                    <span class="fa fa-search search-style"></span>
                    <input
                      type="text"
                      class="searchbox"
                      placeholder="Search this list"
                    />
                    |
                    <a class="text-style m-l-10 font-13"
                      >Filter & Sort<i class="fa fa-chevron-down m-l-10"></i>
                    </a>
                  </span>
                </div>
                <div id="list">
                  <div class="checkout-right list-style">
                    <div class="row tablecart">
                      <div class="col-md-3">
                        <img
                          src="../../../assets/products/images/k1.jpg"
                          alt=" "
                          class="img-responsive"
                        />
                      </div>
                      <div class="col-md-6">
                        <ul>
                          <li class="font-class">
                            <a
                              href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                              >Zeeba Basmati Rice</a
                            >
                          </li>
                          <li>
                            <small class="text-success">
                              <div class="rating1">
                                <span class="starRating">
                                  <input
                                    id="rating5"
                                    type="radio"
                                    name="rating"
                                    value="5"
                                  />
                                  <label for="rating5">5</label>
                                  <input
                                    id="rating4"
                                    type="radio"
                                    name="rating"
                                    value="4"
                                  />
                                  <label for="rating4">4</label>
                                  <input
                                    id="rating3"
                                    type="radio"
                                    name="rating"
                                    value="3"
                                    checked=""
                                  />
                                  <label for="rating3">3</label>
                                  <input
                                    id="rating2"
                                    type="radio"
                                    name="rating"
                                    value="2"
                                  />
                                  <label for="rating2">2</label>
                                  <input
                                    id="rating1"
                                    type="radio"
                                    name="rating"
                                    value="1"
                                  />
                                  <label for="rating1">1</label>
                                </span>
                                <a class="small-font">50</a>
                              </div></small
                            >
                          </li>
                          <li class="small-font">
                            ₹200.00
                          </li>

                          <li class="small-font">
                            2 offer(s)from Rs.200.00
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3 heading-style">
                        <ul>
                          <li class="small-font">Added 12 May 2020</li>
                          <li>
                            <button class="btn btn-secondary btn-width">
                              See all buying options
                            </button>
                          </li>
                          <li>
                            <a class="small-font">Remove Item</a>
                          </li>
                          <li>
                            <a class="small-font"
                              >Add comment,quantity &priority</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="checkout-right list-style">
                    <div class="row tablecart">
                      <div class="col-md-3">
                        <img
                          src="../../../assets/products/images/k10.jpg"
                          alt=" "
                          class="img-responsive"
                        />
                      </div>
                      <div class="col-md-6">
                        <ul>
                          <li class="font-class">
                            <a
                              href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                              >Snickers</a
                            >
                          </li>
                          <li>
                            <small class="text-success">
                              <div class="rating1">
                                <span class="starRating">
                                  <input
                                    id="rating5"
                                    type="radio"
                                    name="rating"
                                    value="5"
                                  />
                                  <label for="rating5">5</label>
                                  <input
                                    id="rating4"
                                    type="radio"
                                    name="rating"
                                    value="4"
                                  />
                                  <label for="rating4">4</label>
                                  <input
                                    id="rating3"
                                    type="radio"
                                    name="rating"
                                    value="3"
                                    checked=""
                                  />
                                  <label for="rating3">3</label>
                                  <input
                                    id="rating2"
                                    type="radio"
                                    name="rating"
                                    value="2"
                                  />
                                  <label for="rating2">2</label>
                                  <input
                                    id="rating1"
                                    type="radio"
                                    name="rating"
                                    value="1"
                                  />
                                  <label for="rating1">1</label>
                                </span>
                                <a class="small-font">50</a>
                              </div></small
                            >
                          </li>
                          <li class="small-font">
                            ₹250.00
                          </li>

                          <li class="small-font">
                            1 offer(s)from Rs.250.00
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3 heading-style">
                        <ul>
                          <li class="small-font">Added 4 May 2020</li>
                          <li>
                            <button class="btn btn-warning btn-width">
                              Add to Cart
                            </button>
                          </li>
                          <li>
                            <a class="small-font">Remove Item</a>
                          </li>
                          <li>
                            <a class="small-font"
                              >Add comment,quantity &priority</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="grid">
                  <div class="row">
                    <div class="col-md-4 product-men grid-style m-r-10">
                      <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                          <img
                            src="../../../assets/products/images/mk4.jpg"
                            alt=""
                          />
                          <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                              <a
                                href="single.html"
                                class="link-product-add-cart"
                                >Quick View</a
                              >
                            </div>
                          </div>
                          <span class="product-new-top">
                            <i class="glyphicon glyphicon-option-horizontal">
                            </i>
                          </span>
                        </div>
                        <div class="item-info-product">
                          <div
                            class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out"
                          >
                            <button
                              class="btn btn-secondary btn-width margin-top-40"
                            >
                              See all buying options
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-men grid-style">
                      <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                          <img
                            src="../../../assets/products/images/mk4.jpg"
                            alt=""
                          />
                          <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                              <a
                                href="single.html"
                                class="link-product-add-cart"
                                >Quick View</a
                              >
                            </div>
                          </div>
                          <span class="product-new-top">
                            <i class="glyphicon glyphicon-option-horizontal">
                            </i>
                          </span>
                        </div>
                        <div class="item-info-product">
                          <div class="info-product-price">
                            <span class="item_price">$78.00</span>
                          </div>
                          <div
                            class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out"
                          >
                            <button class="btn btn-warning btn-width">
                              Add to Cart
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <form
            action="#"
            method="post"
            class="creditly-card-form agileinfo_form"
          >
            <div class="creditly-wrapper wthree, w3_agileits_wrapper">
              <div class="credit-card-wrapper">
                <div class="first-row form-group">
                  <div class="controls">
                    <label class="control-label">Name on Card</label>
                    <input
                      class="billing-address-name form-control"
                      type="text"
                      name="name"
                      placeholder="John Smith"
                    />
                  </div>
                  <div class="w3_agileits_card_number_grids">
                    <div class="w3_agileits_card_number_grid_left">
                      <div class="controls">
                        <label class="control-label">Card Number</label>
                        <input
                          class="number credit-card-number form-control"
                          type="text"
                          name="number"
                          inputmode="numeric"
                          autocomplete="cc-number"
                          autocompletetype="cc-number"
                          x-autocompletetype="cc-number"
                          placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;"
                        />
                      </div>
                    </div>
                    <div class="w3_agileits_card_number_grid_right">
                      <div class="controls">
                        <label class="control-label">CVV</label>
                        <input
                          class="security-code form-control"
                          Â·
                          inputmode="numeric"
                          type="text"
                          name="security-code"
                          placeholder="&#149;&#149;&#149;"
                        />
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="controls">
                    <label class="control-label">Expiration Date</label>
                    <input
                      class="expiration-month-and-year form-control"
                      type="text"
                      name="expiration-month-and-year"
                      placeholder="MM / YY"
                    />
                  </div>
                </div>
                <button class="submit">
                  <span>Make a payment </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div>
          <div class="vertical_post">
            <form action="#" method="post">
              <h5>Select From Popular Banks</h5>
              <div class="swit-radio">
                <div class="check_box_one">
                  <div class="radio_one">
                    <label>
                      <input type="radio" name="radio" checked="" />
                      <i></i>Syndicate Bank</label
                    >
                  </div>
                </div>
                <div class="check_box_one">
                  <div class="radio_one">
                    <label>
                      <input type="radio" name="radio" />
                      <i></i>Bank of Baroda</label
                    >
                  </div>
                </div>
                <div class="check_box_one">
                  <div class="radio_one">
                    <label>
                      <input type="radio" name="radio" />
                      <i></i>Canara Bank</label
                    >
                  </div>
                </div>
                <div class="check_box_one">
                  <div class="radio_one">
                    <label>
                      <input type="radio" name="radio" />
                      <i></i>ICICI Bank</label
                    >
                  </div>
                </div>
                <div class="check_box_one">
                  <div class="radio_one">
                    <label>
                      <input type="radio" name="radio" />
                      <i></i>State Bank Of India</label
                    >
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <h5>Or Select Other Bank</h5>
              <div class="section_room_pay">
                <select class="year">
                  <option value="">=== Other Banks ===</option>
                  <option value="ALB-NA">Allahabad Bank NetBanking</option>
                  <option value="ADB-NA">Andhra Bank</option>
                  <option value="BBK-NA"
                    >Bank of Bahrain and Kuwait NetBanking</option
                  >
                  <option value="BBC-NA"
                    >Bank of Baroda Corporate NetBanking</option
                  >
                  <option value="BBR-NA"
                    >Bank of Baroda Retail NetBanking</option
                  >
                  <option value="BOI-NA">Bank of India NetBanking</option>
                  <option value="BOM-NA">Bank of Maharashtra NetBanking</option>
                  <option value="CSB-NA"
                    >Catholic Syrian Bank NetBanking</option
                  >
                  <option value="CBI-NA">Central Bank of India</option>
                  <option value="CUB-NA">City Union Bank NetBanking</option>
                  <option value="CRP-NA">Corporation Bank</option>
                  <option value="DBK-NA">Deutsche Bank NetBanking</option>
                  <option value="DCB-NA">Development Credit Bank</option>
                  <option value="DC2-NA"
                    >Development Credit Bank - Corporate</option
                  >
                  <option value="DLB-NA">Dhanlaxmi Bank NetBanking</option>
                  <option value="FBK-NA">Federal Bank NetBanking</option>
                  <option value="IDS-NA">Indusind Bank NetBanking</option>
                  <option value="IOB-NA">Indian Overseas Bank</option>
                  <option value="ING-NA">ING Vysya Bank (now Kotak)</option>
                  <option value="JKB-NA">Jammu and Kashmir NetBanking</option>
                  <option value="JSB-NA">Janata Sahakari Bank Limited</option>
                  <option value="KBL-NA">Karnataka Bank NetBanking</option>
                  <option value="KVB-NA">Karur Vysya Bank NetBanking</option>
                  <option value="LVR-NA">Lakshmi Vilas Bank NetBanking</option>
                  <option value="OBC-NA"
                    >Oriental Bank of Commerce NetBanking</option
                  >
                  <option value="CPN-NA">PNB Corporate NetBanking</option>
                  <option value="PNB-NA">PNB NetBanking</option>
                  <option value="RSD-DIRECT"
                    >Rajasthan State Co-operative Bank-Debit Card</option
                  >
                  <option value="RBS-NA"
                    >RBS (The Royal Bank of Scotland)</option
                  >
                  <option value="SWB-NA">Saraswat Bank NetBanking</option>
                  <option value="SBJ-NA"
                    >SB Bikaner and Jaipur NetBanking</option
                  >
                  <option value="SBH-NA">SB Hyderabad NetBanking</option>
                  <option value="SBM-NA">SB Mysore NetBanking</option>
                  <option value="SBT-NA">SB Travancore NetBanking</option>
                  <option value="SVC-NA"
                    >Shamrao Vitthal Co-operative Bank</option
                  >
                  <option value="SIB-NA">South Indian Bank NetBanking</option>
                  <option value="SBP-NA"
                    >State Bank of Patiala NetBanking</option
                  >
                  <option value="SYD-NA">Syndicate Bank NetBanking</option>
                  <option value="TNC-NA"
                    >Tamil Nadu State Co-operative Bank NetBanking</option
                  >
                  <option value="UCO-NA">UCO Bank NetBanking</option>
                  <option value="UBI-NA">Union Bank NetBanking</option>
                  <option value="UNI-NA"
                    >United Bank of India NetBanking</option
                  >
                  <option value="VJB-NA">Vijaya Bank NetBanking</option>
                </select>
              </div>
              <input type="submit" value="PAY NOW" />
            </form>
          </div>
        </div>
        <div>
          <div id="tab4" class="tab-grid" style="display: block;">
            <div class="row">
              <div class="col-md-6">
                <img
                  class="pp-img"
                  src="../../../assets/products/images/paypal.png"
                  alt="Image Alternative text"
                  title="Image Title"
                />
                <p>
                  Important: You will be redirected to PayPal's website to
                  securely complete your payment.
                </p>
                <a class="btn btn-primary">Checkout via Paypal</a>
              </div>
              <div class="col-md-6 number-paymk">
                <form class="cc-form">
                  <div class="clearfix">
                    <div class="form-group form-group-cc-number">
                      <label>Card Number</label>
                      <input
                        class="form-control"
                        placeholder="xxxx xxxx xxxx xxxx"
                        type="text"
                      />
                      <span class="cc-card-icon"></span>
                    </div>
                    <div class="form-group form-group-cc-cvc">
                      <label>CVV</label>
                      <input
                        class="form-control"
                        placeholder="xxxx"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="clearfix">
                    <div class="form-group form-group-cc-name">
                      <label>Card Holder Name</label>
                      <input class="form-control" type="text" />
                    </div>
                    <div class="form-group form-group-cc-date">
                      <label>Valid Thru</label>
                      <input
                        class="form-control"
                        placeholder="mm/yy"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="checkbox checkbox-small">
                    <label>
                      <input class="i-check" type="checkbox" checked="" />Add to
                      My Cards</label
                    >
                  </div>
                  <input type="submit" class="submit" value="Proceed Payment" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Plug-in Initialisation-->
  </div>
</div>
