<div class="container m-t-30">
  <div class="row border-class">
    <div class="col-md-6">
      <h3 class="text-style line-height-style">
        <b>Choose your delivery options</b>
      </h3>
    </div>
    <div class="col-md-6 m-b-10 m-t-20">
      <span class="float border">
        <button class="btn btn-warning btn-sm button-style">Continue</button>
      </span>
    </div>
  </div>

  <div class="row border-class m-b-20 m-t-20">
    <div class="col-md-6">
      <h4><b>Shipment 1 of 1</b></h4>
      <h5 class="line-height-style">
        <b>Shipping from AAA <a class="m-l-10">Learn more</a></b>
      </h5>
      <small class="m-t-20 m-b-10">Deliver to: Shruthi, 9/19A Sathya Bhavan, Melatheru, UNNAMALAIKADAI,
        TAMIL NADU, 629179 India</small>
      <ul class="m-b-30 m-t-20">
        <li>
          <h5 class="text-style">
            <b>
              Maxi Persian Adult(+1 Year) Dry Cat Food, Ocean Fish, 1.2kg (Buy 1
              GET 1 Free)</b>
          </h5>
          <div>
            <label class="font-13 text-danger">
              399.00
              <small class="small-font text-style">- Quantity:1</small>
            </label>
          </div>
          <div>
            <h6>Sold by: Cloudtail India</h6>
          </div>
        </li>
      </ul>
      <ul class="m-b-30 m-t-20">
        <li>
          <h5 class="text-style">
            <b> Pedigree Adult Dry Dog Food,Meat & Vegetables,20kg Pack</b>
          </h5>
          <div>
            <label class="font-13 text-danger">
              314.00
              <small class="small-font text-style">- Quantity:1</small>
            </label>
          </div>
          <div>
            <h6>Sold by: Cloudtail India</h6>
          </div>
        </li>
      </ul>
      <a class="font-13">Change quantities or delete</a>
    </div>
    <div class="col-md-6">
      <h4 class="text-style m-l-20"><b>Choose a delivery speed</b></h4>
      <div>
        <div class="check_box_one">
          <div class="radio_one">
            <input type="radio" name="radio" checked="" class="m-t-10" />
            <i></i>

            <label class="font-13 line-height-style">
              <small class="text-success m-r-10">Tuesday</small>- FREE Delivery on
              eligible orders
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float border m-b-20">
    <button class="btn btn-warning btn-sm button-style">Continue</button>
  </div>
</div>
