.small-font {
  font-size: 12px !important;
  line-height: 1.5 !important;
}

a {
  color: #0066c0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #c45500;
  cursor: pointer;
}

.font-style {
  color: #111;
}

.m-l-10 {
  margin-left: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.border-class {
  padding: 10px;
  border: 1px #ddd solid;
}

.dropdown-style {
  width: 15%;
  background: #e7e9ec;
  border-radius: 3px;
}

.cart-button {
  margin: 10px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}

.buy-button {
  margin: 10px;
  background: linear-gradient(to bottom, #f6c88f, #ed9220);
}

.borderClass {
  border-bottom: 1px #ddd solid;
}

.btn-width {
  width: 88%;
}
