<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 class="tittle-w3l">Seller Registration
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="auto">
            <table class="table table-bordered table-striped example1 m-t-10">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Subscription</th>
                        <th>Wallet Balance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let seller of sellersList">
                        <td>{{seller.name}}</td>
                        <td>{{seller.username}}</td>
                        <td>{{seller.email}}</td>
                        <td>NO</td>
                        <td>350</td>
                        <td>
                            <a class="dropdown-item font-12"><i class="fa fa-eye m-r-5 m-l-10 icon-style" title="View" (click)="navigateToSellerDetails(seller.user_id)"></i>
                            </a>

                            <a class="dropdown-item font-12"
                                (click)="approveSellerRegistration(seller.user_id, seller)"><i
                                    class="fa fa-check m-r-5 m-l-10 icon-style" title="Approve"></i>
                            </a>
                            <a class="dropdown-item font-12" (click)="denySellerRegistration(seller.user_id, seller)"><i
                                    class="fa fa-times m-r-5 m-l-10 icon-style" title="Deny"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>