<div class="container-fluid m-t-20">
    <!-- tittle heading -->
    <div class="col">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h3 class="tittle-w3l">
            Subscriptions
            <span class="heading-style">
              <i></i>
              <i></i>
              <i></i>
            </span>
          </h3>
        </div>
        <div class="col-md-4">
          <span class="float-right">
            <button class="btn btn-style m-b-10" routerLink="/dashboard/subscriptions/add">Create
              Subscription</button>
          </span>
        </div>
      </div>
    <!-- //tittle heading -->
    <!-- product right -->

    <div class="agileinfo-ads-display col-md-12 m-t-30">
        <div class="wrapper">
            <!-- third section (oils) -->
            <div class="row">
                <div>
                    <div class="col-md-4" *ngFor="let x of subDetails">
                        <div class="panel padding-20">

                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">

                                    <span class="product-new-top"><a type="button" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a routerLink="/dashboard/subscriptions/subscribers" class="dropdown-item font-12"><i class="fa fa-users m-r-10 m-l-10"></i>
                                                Subscribers</a>
                                            <a class="dropdown-item font-12" routerLink="/dashboard/subscriptions/edit/1"><i class="fa fa-pencil m-r-10 m-l-10"></i>
                                                Edit</a>
                                            <a class="dropdown-item font-12"><i class="fa fa-trash m-r-10 m-l-10"></i>
                                                Delete</a>
                                        </div>
                                    </span>
                                </div>
                                <div class="item-info-product">
                                    <h3>
                                        <span>{{x.name}}</span>
                                    </h3>
                                    <h4 class="m-t-10">
                                        <p>Rs {{x.amount}}</p>
                                        <div class="m-t-10">
                                            <small class="smallfont">
                                               {{x.type}}
                                            </small>
                                        </div>

                                    </h4>
                                    <div class="info-product-price row">
                                        <p class="item_price">
                                            {{x.description}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel padding-20">

                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">

                                    <span class="product-new-top"><a type="button" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item font-12" routerLink="/dashboard/subscriptions/subscribers"><i class="fa fa-users m-r-10 m-l-10"></i>
                                                Subscribers</a>
                                            <a class="dropdown-item font-12" routerLink="/dashboard/subscriptions/edit/1"><i class="fa fa-pencil m-r-10 m-l-10"></i>
                                                Edit</a>
                                            <a class="dropdown-item font-12"><i class="fa fa-trash m-r-10 m-l-10"></i>
                                                Delete</a>
                                        </div>
                                    </span>
                                </div>
                                <div class="item-info-product">
                                    <h3>
                                        <span>Starter</span>
                                    </h3>
                                    <h4 class="m-t-10">
                                        <a href="single.html">$300.00</a>
                                        <div class="m-t-10">
                                            <small class="smallfont">
                                                Per Year
                                            </small>
                                        </div>

                                    </h4>
                                    <div class="info-product-price row">
                                        <p class="item_price">
                                            Process of investors signing up and committing to invest in a financial
                                            instrument
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel padding-20">

                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">

                                    <span class="product-new-top"><a type="button" data-toggle="dropdown">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a routerLink="/dashboard/subscriptions/subscribers" class="dropdown-item font-12"><i class="fa fa-users m-r-10 m-l-10"></i>
                                                Subscribers</a>
                                            <a class="dropdown-item font-12"><i class="fa fa-pencil m-r-10 m-l-10" routerLink="/dashboard/subscriptions/edit/1"></i>
                                                Edit</a>
                                            <a class="dropdown-item font-12"><i class="fa fa-trash m-r-10 m-l-10"></i>
                                                Delete</a>
                                        </div>
                                    </span>
                                </div>
                                <div class="item-info-product">
                                    <h3>
                                        <span>Premium</span>
                                    </h3>
                                    <h4 class="m-t-10">
                                        <a href="single.html">$350.00</a>
                                        <div class="m-t-10">
                                            <small class="smallfont">
                                                Per Year
                                            </small>
                                        </div>

                                    </h4>
                                    <div class="info-product-price row">
                                        <p class="item_price">
                                            Process of investors signing up and committing to invest in a financial
                                            instrument
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //product right -->
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>