<div class='container'>
  <div class='col-md-12 row'>
  </div>
  <div class='col-md-3'></div>
  <div class='col-md-4'>
    <div class='card m-b-30'>
      <div class='col-md-12'>
        <div class='row m-b-10'>
          <h2 class="text-centre">Sign Up</h2>
        </div>
      </div>
      <form [formGroup]="clientSignUpForm" (submit)="submitClientRegisterForm()">
        <div class="row">
          <div class="col-md-6">
            <div class="floating-label-group">
              <input type="text" class="form-control" autocomplete="off" autofocus formControlName="name" required />
              <label class="floating-label">Name</label>
              <!-- <div *ngIf="formSubmitted && form.name.errors?.required" class="valid-error">Name is required.
              </div> -->
              <div *ngIf="formSubmitted && form.name.errors" class="valid-error">Please enter a valid Name</div>
            </div>
            <div class="floating-label-group">
              <input type="text" class="form-control" autocomplete="off" formControlName="phone" required />
              <label class="floating-label">Phone No</label>
              <!-- <div *ngIf="formSubmitted && form.phone.errors?.required" class="valid-error">Phone No is required.
              </div> -->
              <div *ngIf="formSubmitted && form.phone.errors" class="valid-error">Please enter phone
                number</div>
            </div>
            <div class="floating-label-group m-t-45 ">
              <input type="text" class="form-control" autocomplete="off" formControlName="landmark" required />
              <label class="floating-label">Landmark</label>
              <!-- <div *ngIf="formSubmitted && form.landmark.errors?.required" class="valid-error">Landmark is required.
              </div> -->
              <div *ngIf="formSubmitted && form.landmark.errors" class="valid-error">Please enter a valid Landmark</div>
            </div>
            <div class="floating-label-group">
              <input type="text" class="form-control" autocomplete="off" formControlName="username" required />
              <label class="floating-label">Username</label>
              <div *ngIf="formSubmitted && form.username.errors?.required" class="valid-error">Username is required.
              </div>
              <!-- <div *ngIf="formSubmitted && form.username.errors" class="valid-error">Please enter a valid email or phone
                number</div> -->
            </div>

          </div>
          <div class="col-md-6">
            <div class="floating-label-group">
              <input type="email" class="form-control" autocomplete="off" formControlName="email" required />
              <label class="floating-label">Email Id</label>
              <!-- <div *ngIf="formSubmitted && form.email.errors?.required" class="valid-error">Email is required.
              </div> -->
              <div *ngIf="formSubmitted && form.email.errors" class="valid-error">Please enter a valid email</div>
            </div>
            <div class="floating-label-group">
              <textarea  class="form-control" autocomplete="off" formControlName="address"
                required></textarea>
              <label class="floating-label-textarea">Address</label>
              <!-- <div *ngIf="formSubmitted && form.address.errors?.required" class="valid-error">Address is required.
              </div> -->
              <div *ngIf="formSubmitted && form.address.errors" class="valid-error">Please enter a valid Address</div>
            </div>
            <div class="floating-label-group">
              <input type="text" class="form-control" autocomplete="off" formControlName="pin_code" required />
              <label class="floating-label">Pincode</label>
              <!-- <div *ngIf="formSubmitted && form.pin_code.errors?.required" class="valid-error">Pincode is required.
              </div> -->
              <div *ngIf="formSubmitted && form.pin_code.errors" class="valid-error">Please enter a valid Pincode</div>
            </div>
            <div class="floating-label-group">
              <input type="password" class="form-control" autocomplete="off" formControlName="password" required />
              <label class="floating-label">Password</label>
              <div *ngIf="formSubmitted && form.password.errors?.required" class="valid-error">Password is required.
              </div>
            </div>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-warning btn-width w-100 m-b-30">Register</button>
        </div>
        <div>
          <label for="">Already have an account?</label>
          <a routerLink="/auth/login" class="m-l-10" href="">Sign In</a>
        </div>
      </form>

    </div>
  </div>
  <div class='col-md-4'> </div>
</div>