<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 class="tittle-w3l">Order Details
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="a-row a-spacing-base m-t-10">
                <div class="a-column a-span9 a-spacing-top-mini">
                    <div class="a-row a-spacing-none">
                        <span class="order-date-invoice-item">
                            Ordered on 24 July 2020
                            <i class="a-icon a-icon-text-separator" role="img"></i>
                        </span>
            
                        <span class="order-date-invoice-item">
                            Order#
                                <bdi dir="ltr">405-9226447-1986738</bdi>
                        </span>
                    </div> 
                </div> 
                <div class="a-column a-span3 a-text-right a-spacing-top-none hide-if-no-js a-span-last">
                    <div class="a-row a-spacing-none">
            
                    </div>
                </div> 
            </div>
            <div class="a-box a-spacing-base m-t-20">
                <div class="a-box-inner">
                    <div class="a-fixed-right-grid">
                        <div class="a-fixed-right-grid-inner" style="padding-right:260px">
                            <div class="a-fixed-right-grid-col a-col-left" style="padding-right:0%;float:left;">
                                <div class="a-row">
                                    <div class="a-column a-span5">
                                        <div class="a-section a-spacing-none od-shipping-address-container">
                                            <h5 class="a-spacing-micro">
                                                Shipping Address
                                            </h5>
                                            <div class="a-row a-spacing-micro">
                                                <div class="displayAddressDiv">
                                                    <ul class="displayAddressUL">
                                                        <li class="displayAddressLI displayAddressFullName">Geethu G S
                                                        </li>
                                                        <li class="displayAddressLI displayAddressAddressLine1">9/19 A
                                                            Shiva Nanthanam</li>
                                                        <li class="displayAddressLI displayAddressAddressLine2">
                                                            Melatheru</li>
                                                        <li
                                                            class="displayAddressLI displayAddressCityStateOrRegionPostalCode">
                                                            UNNAMALAIKADAI, TAMIL NADU 629179</li>
                                                        <li class="displayAddressLI displayAddressCountryName">India
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="a-section a-spacing-top-medium">
                                        </div>
                                    </div>
                                    <div class="a-column a-span7 a-span-last">
                                        <div class="a-section a-spacing-base">


                                            <div class="a-section a-spacing-none">
                                                <h5 class="a-spacing-micro">
                                                    Payment Method
                                                </h5>

                                                <div class="a-row a-spacing-mini">
                                                    <img alt="MasterCard"
                                                        src="https://images-eu.ssl-images-amazon.com/images/G/31/checkout/payselect/card-logos-small/mc._CB485935048_.gif">
                                                    <span>**** 6232</span>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="a-section a-spacing-none">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="od-subtotals" class="a-fixed-right-grid-col a-col-right"
                                style="width:260px;margin-right:-260px;float:left;">
                                <h5 class="a-spacing-micro a-text-left">
                                    Order Summary
                                </h5>

                                <div class="a-row">
                                    <div class="a-column a-span7 a-text-left">
                                        <span class="a-color-base">
                                            Item(s) Subtotal:
                                        </span>
                                    </div>
                                    <div class="a-column a-span5 a-text-right a-span-last">
                                        <span class="a-color-base">
                                            <span style="text-decoration: inherit; white-space: nowrap;"><span
                                                    class="currencyINR">&nbsp;&nbsp;</span><span
                                                    class="currencyINRFallback" style="display:none">Rs.
                                                </span>399.00</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="a-row">
                                    <div class="a-column a-span7 a-text-left">
                                        <span class="a-color-base">
                                            Shipping:
                                        </span>
                                    </div>
                                    <div class="a-column a-span5 a-text-right a-span-last">
                                        <span class="a-color-base">
                                            <span style="text-decoration: inherit; white-space: nowrap;"><span
                                                    class="currencyINR">&nbsp;&nbsp;</span><span
                                                    class="currencyINRFallback" style="display:none">Rs.
                                                </span>40.00</span>
                                        </span>
                                    </div>
                                </div>


                                <div class="a-row a-spacing-mini">
                                </div>


                                <div class="a-row">
                                    <div class="a-column a-span7 a-text-left">
                                        <span class="a-color-base">
                                            Total:
                                        </span>
                                    </div>
                                    <div class="a-column a-span5 a-text-right a-span-last">
                                        <span class="a-color-base">
                                            <span style="text-decoration: inherit; white-space: nowrap;"><span
                                                    class="currencyINR">&nbsp;&nbsp;</span><span
                                                    class="currencyINRFallback" style="display:none">Rs.
                                                </span>439.00</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="a-row a-spacing-mini">
                                </div>
                                <div class="a-row">
                                    <div class="a-column a-span7 a-text-left">
                                        <span class="a-color-base a-text-bold">
                                            Grand Total:
                                        </span>
                                    </div>
                                    <div class="a-column a-span5 a-text-right a-span-last">
                                        <span class="a-color-base a-text-bold">
                                            <span style="text-decoration: inherit; white-space: nowrap;"><span
                                                    class="currencyINR">&nbsp;&nbsp;</span><span
                                                    class="currencyINRFallback" style="display:none">Rs.
                                                </span>439.00</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="a-box shipment">
                <div class="a-box-inner">
                    <div class="a-row shipment-top-row js-shipment-info-container">
                        <div style="margin-right:230px; padding-right:20px">

                            <div class="a-row">
                                <span class="a-size-medium a-color-base a-text-bold">
                                    Arriving Friday
                                </span>
                            </div>
                            <div class="a-row">
                                <span class="a-color-success">
                                    On the way
                                </span>

                                <span data-isstatuswithwarning="0" data-yodeliveryestimate="Arriving Friday"
                                    data-yoshortstatuscode="IN_TRANSIT" data-yostatusstring="On the way"
                                    class="js-shipment-info aok-hidden">
                                </span>
                            </div>

                        </div>
                        <div class="actions" style="width:80px;">

                            <div class="a-row">
                                <div class="a-button-stack">
                                    <span class="a-declarative" data-action="set-shipment-info-cookies"
                                        data-set-shipment-info-cookies="{}">
                                        <span class="a-button a-button-primary track-package-button"
                                            id="a-autoid-0"><span class="a-button-inner"><a
                                                    href="/progress-tracker/package/ref=ppx_od_dt_b_track_package?_encoding=UTF8&amp;itemId=jkpoqqouooqroo&amp;orderId=405-9226447-1986738&amp;packageIndex=0&amp;shipmentId=DcKHVjSQP&amp;vt="
                                                    class="a-button-text" role="button" id="a-autoid-0-announce">
                                                    $300
                                                </a></span></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="a-fixed-right-grid a-spacing-top-medium">
                        <div class="a-fixed-right-grid-inner a-grid-vertical-align a-grid-top">
                            <div class="a-fixed-right-grid-col a-col-left" style="padding-right:3.2%;float:left;">
                                <div class="a-row">
                                    <div class="a-fixed-left-grid a-spacing-none">
                                        <div class="a-fixed-left-grid-inner" style="padding-left:100px">
                                            <div class="a-text-center a-fixed-left-grid-col a-col-left"
                                                style="width:100px;margin-left:-100px;float:left;">

                                                <div class="item-view-left-col-inner">
                                                    <a class="a-link-normal"
                                                        href="/gp/product/B07F1FPY1F/ref=ppx_od_dt_b_asin_image_s00?ie=UTF8&amp;psc=1">

                                                        <img alt="" src="../../../../../../assets/images/1.jpeg" >
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="a-fixed-left-grid-col a-col-right"
                                                style="padding-left:1.5%;float:left;">


                                                <div class="a-row">
                                                    <a class="a-link-normal"
                                                        href="/gp/product/B07F1FPY1F/ref=ppx_od_dt_b_asin_title_s00?ie=UTF8&amp;psc=1">
                                                        Braids Home Jacquard Weaved Pollycotton Bedroom/Living Room Rugs
                                                        and Carpets -40
                                                    </a>
                                                </div>
                                                <div class="a-row">
                                                    <span class="a-size-small a-color-secondary">
                                                        Sold by:
                                                        <a class="a-link-normal"
                                                            href="/gp/help/seller/at-a-glance.html/ref=ppx_od_dt_b_sellerprofile_s00?ie=UTF8&amp;isAmazonFulfilled=1&amp;marketplaceSeller=1&amp;orderID=405-9226447-1986738&amp;seller=A1ERJH9LUGFBYZ">
                                                            Cloud Retail India</a>

                                                    </span>

                                                </div>
                                                <div class="a-row">
                                                    <span class="a-size-small">
                                                    </span>

                                                </div>
                                                <div class="a-row">

                                                    <span class="a-size-small a-color-price">
                                                        <span
                                                            style="text-decoration: inherit; white-space: nowrap;"><span
                                                                class="currencyINR">&nbsp;&nbsp;</span><span
                                                                class="currencyINRFallback" style="display:none">Rs.
                                                            </span>399.00</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>