<div class="container-fluid m-t-20">
  <!-- tittle heading -->
  <h3 class="tittle-w3l">
    Top Selling Products
    <span class="heading-style">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </h3>
  <!-- //tittle heading -->
  <!-- product right -->
  <div class="card">
    <div class="container-fluid">
      <form method="POST">
        <div class="row">
          <div class="col-md-3">
            <div class="floating-label-group">
              <select class="form-control" (change)="getCategoryId($event)" autocomplete="off" required>
                <option value="0">All Categories </option>
                <option *ngFor="let x of categoryList" [value]="x.id">{{x.name}}</option>
              </select>
              <label class="floating-label font-13 m-l-36">Categories</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="floating-label-group">
              <select class="form-control" *ngIf="!isSeller" (change)="getSellerId($event)" autocomplete="off" required>
                <option value="0">Select Seller</option>
                <option *ngFor="let x of sellersList" [value]="x.user_id">{{x.name}}</option>
              </select>
              <label class="floating-label font-13 m-l-36">Seller</label>
            </div>

          </div>
          <div class="col-md-3">
            <div class="aside">
              <div id="order-slider"></div>
            </div>
          </div>
          <div class="col-md-3 m-t-10">
            <button class="btn btn-width btn-style" type="submit" (click)="searchTopSellingProducts()">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 float-left">
    <a class="offersLink" routerLink="/dashboard/products/offers">Back to Offers</a>
  </div>
  <div class="col-md-3 m-t-30 tree-view-scroll">
    <h3 class="h1-color m-t-10"></h3>
    <ejs-treeview *ngIf="hasSubCategory" [fields]='field' (nodeClicked)='categoryNodeclicked($event)'>
    </ejs-treeview>
  </div>
  <div class="agileinfo-ads-display col-md-9 m-t-30">
    <div class="wrapper">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-4" *ngFor="let x of productList; let i = index;">
          <div class="panel padding-20">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img [src]="getImage(x)" alt="" class="image-style" />

                <span class="product-new-top"><a type="button" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-v p-l-20"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item font-12" (click)="navigateToViewPage(x.id)"><i
                        class="fa fa-eye m-r-10 m-l-10"></i>
                      View</a>
                    <a class="dropdown-item font-12" routerLink="/dashboard/reviews/review-details"><i
                        class="fa fa-thumbs-o-up m-r-10 m-l-10"></i>
                      Review</a>
                    <a class="dropdown-item font-12" (click)="navigateToEditPage(x.id, x.category_id)"><i
                        class="fa fa-pencil m-r-10 m-l-10"></i>
                      Edit</a>
                    <a class="dropdown-item font-12"><i class="fa fa-trash m-r-10 m-l-10"
                        (click)="deleteProduct(x.id,i)"></i>
                      Delete</a>
                  </div>
                </span>
              </div>
              <div class="item-info-product">
                <h5>
                  <span>{{x.category}}</span>
                </h5>
                <h4 class="m-t-10">
                  <a href="single.html">{{x.name}}</a>
                </h4>
                <div class="info-product-price row">
                  <div class="col-md-6">
                    <span class="item_price">{{x.price}}</span>
                    <del>$255.00</del>
                  </div>
                  <div class="col-md-6 p-l-0">
                    <ul>
                      <li>
                        <small class="text-success">
                          <div class="dashboard-rating1">
                            <span class="dashboard-starRating">
                              <input id="rating5" type="radio" value="5" [checked]="x.star_rate === 5" />
                              <label for="rating5"></label>
                              <input id="rating4" type="radio" value="4" [checked]="x.star_rate === 4" />
                              <label for="rating4"></label>
                              <input id="rating3" type="radio" value="3" [checked]="x.star_rate === 3" />
                              <label for="rating3"></label>
                              <input id="rating2" type="radio" value="2" [checked]="x.star_rate === 2" />
                              <label for="rating2"></label>
                              <input id="rating1" type="radio" value="1" [checked]="x.star_rate === 1" />
                              <label for="rating1"></label>
                            </span>
                          </div>
                        </small>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- //product right -->
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
  style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>