.tablecart {
  border-top: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef;
  padding: 20px;
}

.rightCardStyle {
  border: 1px #ddd solid;
  padding: 10px;
}

.background {
  background-color: #f3f3f3;
  margin-top: -1px;
  padding: 20px;
}

.text-style {
  color: #555;
}

.font-class {
  font-size: 17px !important;
}

.btn-width {
  width: 70%;
  margin: 10px;
}

.p-l-40 {
  padding-left: 40px;
}

a {
  color: #0066c0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #c45500;
  cursor: pointer;
}

.small-font {
  font-size: 12px !important;
  line-height: 1.5 !important;
}

.heading-style {
  font-weight: 600;
  color: #111;
}

.dropdown-style {
  width: 15%;
  background: #e7e9ec;
  border-radius: 3px;
}

.btn-warning {
  background: -webkit-linear-gradient(top, #f309578c, #e91e63);
  border-radius: 3px;
  border-color: #e91e63 #e91e63 #e91e63;
  color: white;
}

.cart-image-style {
  width: 200px;
  height: 200px;
}

.cart-buttons {
  margin: 10px;
  width: 100px;
}

.limitedStock-message {
  padding: 5px;
  border: 1px solid #ae6953;
  margin-bottom: 10px;
  font-weight: lighter!important;
}
.warning-icon-color-cart{
  color: #db7900
}
.font-light{
  font-weight: lighter;
}
.cart-rupees-text {
  font-weight: 600;
  color: #ae2727;
}
