<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 *ngIf="isEdit" class="tittle-w3l">Edit Category
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                        <h3 *ngIf="!isEdit" class="tittle-w3l">Add Category
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class='col-md-3'></div>
            <div class='col-md-6'>
                <div class='card m-b-30'>

                    <form [formGroup]="categoryForm" (submit)="addCategory()">
                        <div class="form-group">
                            <div class='col-md-12 m-t-20'>
                                <div class='col-md-3'>
                                    <label for="username" class="control-label"> Name</label>
                                </div>
                                <div class='col-md-9'>
                                    <input type="text" class="form-control" id="name" placeholder="Name of category"
                                        formControlName="name">
                                    <div *ngIf="formSubmitted && form.name.errors?.required" class="valid-error">
                                        Name is
                                        required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='col-md-12 m-t-20'>
                                <div class='col-md-3'>
                                    <label for="username" class="control-label"> Description</label>
                                </div>
                                <div class='col-md-9'>
                                    <textarea type="text" class="form-control" id="description"
                                        placeholder="Description" formControlName="description" rows="2"
                                        cols="4"></textarea>
                                    <div *ngIf="formSubmitted && form.description.errors?.required" class="valid-error">
                                        Description is
                                        required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center col-md-12 m-t-30">
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <button *ngIf="!isEdit" type="submit"
                                        class="btn btn-style btn-width w-45 m-b-30">Add
                                        Category</button>
                                    <button *ngIf="isEdit" type="button" class="btn btn-style btn-width w-45 m-b-30"
                                        (click)="editCategory()">Edit
                                        Category</button>
                                    <button type="submit" class="btn btn-style btn-width w-45 m-b-30 m-l-10"
                                        (click)="navigateToHomePage()">Cancel</button>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>

                <div class='col-md-3 m-b-30'> </div>
            </div>

        </div>
    </div>


</div>