<div class="container-fluid">
  <div class="panel">
    <div class="content container-fluid padding-20">
      <div class="m-t-20">
        <div class="row text-center ">
          <div class="col">
            <h3 class="tittle-w3l">Seller Subscription
              <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
              </span>
            </h3>
          </div>
        </div>
      </div>
      <div class="accordion padding-20">
        <div class="card-header collapsed "  data-toggle="collapse" data-target="#accordion1">
          <a class="card-title">
            Monthly Subscription
          </a>
        </div>
        <div class="card-body collapse table-responsive" id="accordion1"  data-parent="#accordion1">
          <table class="table table-bordered table-striped example1 m-t-10">
            <thead>
              <tr>
                <th>Seller</th>
                <th>Subscription Start Date</th>
                <th>Due / Expiry Date</th>
                <th>Wallet Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Big World
                </td>
                <td>
                  23 Jul,2020
                </td>
                <td>
                  23 Aug,2020
                </td>
                <td>
                  500
                </td>

              </tr>
              <tr>
                <td>
                  Crazy Ink
                </td>
                <td>
                  23 Jul,2020
                </td>
                <td>
                  23 Aug,2020
                </td>
                <td>
                  500
                </td>

              </tr>
              <tr>
                <td>
                  Crockery World
                </td>
                <td>
                  23 Jul,2020
                </td>
                <td>
                  23 Aug,2020
                </td>
                <td>
                  500
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-header collapsed" data-toggle="collapse"  data-target="#accordion2">
          <a class="card-title">
            Yearly Subscription
          </a>
        </div>
        <div class="card-body collapse table-responsive" id="accordion2" 
          data-parent="#accordion2">
          <table class="table table-bordered table-striped example1 m-t-10">
            <thead>
              <tr>
                <th>Seller</th>
                <th>Subscription Start Date</th>
                <th>Due / Expiry Date</th>
                <th>Wallet Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Global Craft
                </td>
                <td>
                  23 Jul,2020
                </td>
                <td>
                  23 Aug,2020
                </td>
                <td>
                  500
                </td>

              </tr>
              <tr>
                <td>
                  Expo Associates
                </td>
                <td>
                  23 Jul,2020
                </td>
                <td>
                  23 Aug,2020
                </td>
                <td>
                  500
                </td>

              </tr>
              <tr>
                <td>
                  Cloud Retail
                </td>
                <td>
                  23 Jul,2020
                </td>
                <td>
                  23 Aug,2020
                </td>
                <td>
                  500
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
  style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>