<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 class="tittle-w3l">Return / Refund
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped example1 m-t-10">
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Order ID</th>
                        <th>Invoice ID</th>
                        <th>Amount</th>
                        <th>Reason</th>
                        <th>Date of Request</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>221</td>
                        <td>01-512-122</td>
                        <td>01-512-122</td>
                        <td>150</td>
                        <td>NA</td>
                        <td>Jul 22,2020</td>
                        <td>
                            <a class="dropdown-item font-12"><i class="fa fa-check m-r-5 icon-style" title="Approve"></i>
                            </a>

                            <a class="dropdown-item font-12"><i class="fa  fa-times m-r-5 m-l-10 icon-style"
                                    title="Deny"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th>Request ID</th>
                        <th>Order ID</th>
                        <th>Invoice ID</th>
                        <th>Amount</th>
                        <th>Reason</th>
                        <th>Date of Request</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>