
.fa{
    color:#e91e63;
    font-size: 16px;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: thin!important;
}
h3.tittle-w3l:after{
    right: 43.5%;
    width: 138px;
}
