<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 class="tittle-w3l">Invoice
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>

                    </div>
                </div>
            </div>
            <div class="auto">
            <table class="table table-bordered table-striped example1 m-t-10">
                <thead>
                    <tr >
                        <th>Order ID </th>
                        <th>Invoice ID</th>
                        <th>Total Items</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of orderDetails">
                        <td>{{x.id}}</td>
                        <td>{{x.id}}</td>
                        <td>{{x.qty}}</td>
                        <td>{{x.price}}</td>
                        <td>
                            <a class="dropdown-item font-12" (click)="navigateTodetails(x.id)"><i
                                    class="fa fa-eye m-r-5 icon-style" title="View"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>