.border-class {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

a {
  color: #0066c0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #c45500;
  cursor: pointer;
}

.btn-width {
  width: 60%;
}

.btn-secondary {
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
}

.secondary-width {
  width: 30%;
}

.btn-warning {
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  border-radius: 3px;
  border-color: #eeb933 #eeb933 #eeb933;
  color: #111;
}