<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <h3 class="tittle-w3l">
                                Customer Details
                                <span class="heading-style">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </span>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class="">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active m-r-40"><a href="#billing" aria-controls="info"
                                        role="tab" data-toggle="tab">Default Billing Address </a></li>
                                <li role="presentation" class="m-r-40"><a href="#payment" aria-controls="restriction"
                                        role="tab" data-toggle="tab">Payment Options </a></li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="billing">
                                    <div class='panel m-b-30 padding-20 m-l-100 m-r-100'>
                                        <div class='col-md-12'>
                                            <div class='row m-b-10'>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="row p-t-10">

                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                            autofocus required />
                                                        <label class="floating-label">Name</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="number" class="form-control" autocomplete="off"
                                                            autofocus required />

                                                        <label class="floating-label">Phone Number</label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row p-t-10">
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <textarea rows="3" cols="2" class="form-control"
                                                            autocomplete="off" autofocus required></textarea>
                                                        <label class="floating-label">Address</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6 h-60'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                            autofocus required />
                                                        <label class="floating-label">City</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row p-t-10">
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <select class="form-control">
                                                            <option value="0">
                                                                State
                                                            </option>
                                                            <option value="0">
                                                                TN
                                                            </option>
                                                        </select>
                                                        <label class="floating-label">State</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                            autofocus required />
                                                        <label class="floating-label">Pincode</label>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="float-right">
                                                <button class="btn btn-style">Save</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="payment">
                                    <form class="m-b-20">
                                        <div class="row">
                                            <div class="col-md-6 m-t-5">
                                                <input type="radio" name="card" value="credit" checked />
                                                <label class="control-label m-l-10">Credit Card</label>
                                            </div>
                                            <div class="col-md-6 m-t-5">
                                                <input type="radio" name="card" value="debit" />
                                                <label class="control-label m-l-10">Debit Card</label>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" autofocus
                                                        required />
                                                    <label class="floating-label">Name on the card</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" autofocus
                                                        required />
                                                    <label class="floating-label">Card Number</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 m-t-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <select class="form-control">
                                                            <option value="1">
                                                                01
                                                            </option>
                                                            <option value="2">
                                                                02
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <select class="form-control">
                                                            <option value="1">
                                                                2021
                                                            </option>
                                                            <option value="2">
                                                                2022
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="float-right">
                                            <button class="btn btn-style">Save</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
            <div class="chart tab-pane active" id="sales-chart"
                style="display: none; position: relative; height: 300px;cursor: pointer;">
            </div>
            <div class="chart" id="line-chart" style="display: none; height: 277px;"></div>

        </div>
    </div>
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>