<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <h3 class="tittle-w3l">
                                Seller Details
                                <span class="heading-style">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </span>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class="">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active m-r-40"><a href="#personal" aria-controls="info"
                                        role="tab" data-toggle="tab">Personal Details </a></li>
                                <li role="presentation" class="m-r-40"><a href="#account" aria-controls="restriction"
                                        role="tab" data-toggle="tab">Bank Account Details </a></li>
                                <li role="presentation" class="m-r-40"><a href="#reviews" aria-controls="restriction"
                                        role="tab" data-toggle="tab">Review and Ratings</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="personal">
                                    <div class='panel m-b-30 padding-20 m-l-100 m-r-100'>
                                        <div class='col-md-12'>
                                            <div class='row m-b-10'>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="row p-t-10">

                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                            autofocus disabled />
                                                        <label class="floating-label">Name</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="number" class="form-control" autocomplete="off"
                                                            autofocus disabled />

                                                        <label class="floating-label">Phone Number</label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row p-t-10">
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <textarea rows="3" cols="2" class="form-control"
                                                            autocomplete="off" autofocus disabled></textarea>
                                                        <label class="floating-label">Address</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6 h-60'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                            autofocus disabled />
                                                        <label class="floating-label">City</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row p-t-10">
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <select class="form-control" disabled>
                                                            <option value="0">
                                                                State
                                                            </option>
                                                            <option value="1">
                                                                TN
                                                            </option>
                                                        </select>

                                                    </div>

                                                </div>
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                            autofocus disabled />
                                                        <label class="floating-label">Pincode</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="account">
                                    <form class="m-b-20">

                                        <div class="row m-t-20">
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" autofocus
                                                        disabled />
                                                    <label class="floating-label">Name on the card</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" autofocus
                                                        disabled />
                                                    <label class="floating-label">Card Number</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 m-t-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <select class="form-control" disabled>
                                                            <option value="1">
                                                                01
                                                            </option>
                                                            <option value="2">
                                                                02
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <select class="form-control">
                                                            <option value="1">
                                                                2021
                                                            </option>
                                                            <option value="2">
                                                                2022
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="float-right">
                                            <button class="btn btn-style">Save</button>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="reviews">
                                    <div class="container-fluid">
                                        <div class="panel">
                                            <div class="content container-fluid padding-20">
                                            
                                                <div class="card padding-20">
                                                    <div class="pull-left image">
                                                        <img src="../../../assets/images/1.jpeg"
                                                            class="img-circle avatar" alt="User Image">
                                                    </div>
                                                    <div class="pull-left info m-l-10">
                                                        <p class="text-style">Kailash</p>
                                                        <div>
                                                            <small>28 July 2020</small>
                                                        </div>

                                                    </div>
                                                    <div class="pull-right info m-l-10">
                                                        <ul class="display-style">
                                                            <li class="m-r-20">
                                                                <a href="#">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span><a type="button" data-toggle="dropdown">
                                                                        <i class="fa fa-ellipsis-v"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa fa-reply m-r-10 m-l-10"></i>
                                                                            Respond</a>
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa-trash m-r-10 m-l-10"></i>
                                                                            Delete</a>
                                                                    </div>
                                                                </span>

                                                            </li>
                                                        </ul>


                                                    </div>
                                                    <div class="m-t-60">
                                                        <p class="m-l-45">
                                                            Product is not as shown in the picture. Colour was also
                                                            different and as you can see the image
                                                            white
                                                            threads( the base) was visible. Material was also not good.
                                                            Length is small compare to its
                                                            breadth.
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="card padding-20">
                                                    <div class="pull-left image">
                                                        <img src="../../../assets/images/1.jpeg"
                                                            class="img-circle avatar" alt="User Image">
                                                    </div>
                                                    <div class="pull-left info m-l-10">
                                                        <p class="text-style">Himani</p>
                                                        <div>
                                                            <small>27 July 2020</small>
                                                        </div>

                                                    </div>
                                                    <div class="pull-right info m-l-10">
                                                        <ul class="display-style">
                                                            <li class="m-r-20">
                                                                <a href="#">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span><a type="button" data-toggle="dropdown">
                                                                        <i class="fa fa-ellipsis-v"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa fa-reply m-r-10 m-l-10"></i>
                                                                            Respond</a>
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa-trash m-r-10 m-l-10"></i>
                                                                            Delete</a>
                                                                    </div>
                                                                </span>

                                                            </li>
                                                        </ul>


                                                    </div>
                                                    <div class="m-t-60">
                                                        <p class="m-l-45">
                                                            Product is good
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="chart tab-pane " id="revenue-chart"
                                        style="display: none; height: 300px;"></div>
                                    <div class="chart tab-pane active" id="sales-chart"
                                        style="display: none; position: relative; height: 300px;cursor: pointer;">
                                    </div>
                                    <div class="chart" id="line-chart" style="display: none; height: 277px;"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>