<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <h3 class="tittle-w3l">
                                Seller Details
                                <span class="heading-style">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </span>
                            </h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class="">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active m-r-40"><a href="#personal" aria-controls="info"
                                        role="tab" data-toggle="tab">Personal Details </a></li>
                                <li role="presentation" class="m-r-40"><a href="#account" aria-controls="restriction"
                                        role="tab" data-toggle="tab">Bank Account Details </a></li>
                                <li role="presentation" class="m-r-40"><a href="#reviews" aria-controls="restriction"
                                        role="tab" data-toggle="tab">Review and Ratings</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="personal">
                                    <div class='panel m-b-30 padding-20 m-l-100 m-r-100'>
                                        <div class='col-md-12'>
                                            <div class='row m-b-10'>
                                            </div>
                                        </div>
                                        <form [formGroup]="sellerDetailsForm">
                                            <div class="row p-t-10">

                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                        autofocus required
                                                        [readOnly]="!isSeller" formControlName="name"/>
                                                        <label class="floating-label">Name</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                        autofocus required
                                                        [readOnly]="!isSeller" formControlName="phone"/>

                                                        <label class="floating-label">Phone Number</label>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row p-t-10">
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <textarea rows="3" cols="2" class="form-control"
                                                            autocomplete="off"  autofocus required
                                                            [readOnly]="!isSeller" formControlName="address"></textarea>
                                                        <label class="floating-label-address">Address</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6 h-60'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                        autofocus required
                                                        [readOnly]="!isSeller" formControlName="" value="Trivandrum" />
                                                        <label class="floating-label">City</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row p-t-10">
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <select class="form-control" autocomplete="off" autofocus required
                                                        [disabled]="!isSeller" >
                                                            <option value="0">
                                                                Kerala
                                                            </option>
                                                            <option value="1">
                                                                TN
                                                            </option>
                                                            <option value="2">
                                                                Karnataka
                                                            </option>
                                                        </select>
                                                        <label class="floating-label">State</label>
                                                    </div>

                                                </div>
                                                <div class='col-md-6'>
                                                    <div class="floating-label-group">
                                                        <input type="text" class="form-control" autocomplete="off"
                                                        autofocus required
                                                        [readOnly]="!isSeller" formControlName="pincode"/>
                                                        <label class="floating-label">Pincode</label>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="account">
                                    <form [formGroup]="sellerDetailsForm" class="m-b-20">

                                        <div class="row m-t-20">
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" 
                                                    autofocus required
                                                    [readOnly]="!isSeller" formControlName="aadhar_card_no"/>
                                                    <label class="floating-label">Aadhar Card Number</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" autofocus required
                                                    [readOnly]="!isSeller" formControlName="pan_card_no"/>
                                                    <label class="floating-label">Pan Card Number</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" 
                                                    autofocus required
                                                    [readOnly]="!isSeller" formControlName="bank_ac_no"/>
                                                    <label class="floating-label">Account Number</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <select class="form-control" autocomplete="off" required [disabled]="!isSeller">
                                                        <option value="0">{{sellerDetails?.bank_name}}

                                                        </option>
                                                        <option value="1">
                                                            Allahabad Bank
                                                        </option>
                                                        <option value="1">
                                                            Bank of Baroda
                                                        </option>
                                                        <option value="1">
                                                            ICICI Bank
                                                        </option>
                                                    </select>
                                                    <label class="floating-label">Bank Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <input type="text" class="form-control" autocomplete="off" autofocus required
                                                    [readOnly]="!isSeller" formControlName="ifsc_code"/>
                                                    <label class="floating-label">IFSC Code</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="floating-label-group">
                                                    <select class="form-control" autocomplete="off" required [disabled]="!isSeller">
                                                        <option value="0">{{sellerDetails?.branch_name}}
                                                           
                                                        </option>
                                                        <option value="1">
                                                           Kottarakkara
                                                        </option>
                                                        <option value="2">
                                                            Kollam
                                                         </option>
                                                         <option value="2">
                                                            Trivandrum
                                                         </option>
                                                    </select>
                                                    <label  class="floating-label">Branch Name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="reviews">
                                    <div class="container-fluid">
                                        <div class="panel">
                                            <div class="content container-fluid padding-20">

                                                <div class="card padding-20">
                                                    <div class="pull-left image">
                                                        <img src="./assets/images/1.jpeg"
                                                            class="img-circle avatar" alt="User Image">
                                                    </div>
                                                    <div class="pull-left info m-l-10">
                                                        <p class="text-style">Kailash</p>
                                                        <div>
                                                            <small>28 July 2020</small>
                                                        </div>

                                                    </div>
                                                    <div class="pull-right info m-l-10">
                                                        <ul class="display-style">
                                                            <li class="m-r-20">
                                                                <a href="#">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span *ngIf="isSeller"><a type="button" data-toggle="dropdown" >
                                                                        <i class="fa fa-ellipsis-v"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu" >
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa fa-reply m-r-10 m-l-10"></i>
                                                                            Respond</a>
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa-trash m-r-10 m-l-10"></i>
                                                                            Delete</a>
                                                                    </div>
                                                                </span>

                                                            </li>
                                                        </ul>


                                                    </div>
                                                    <div class="m-t-60">
                                                        <p class="m-l-45">
                                                            Product is not as shown in the picture. Colour was also
                                                            different and as you can see the image
                                                            white
                                                            threads( the base) was visible. Material was also not good.
                                                            Length is small compare to its
                                                            breadth.
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="card padding-20">
                                                    <div class="pull-left image">
                                                        <img src="./assets/images/1.jpeg"
                                                            class="img-circle avatar" alt="User Image">
                                                    </div>
                                                    <div class="pull-left info m-l-10">
                                                        <p class="text-style">Himani</p>
                                                        <div>
                                                            <small>27 July 2020</small>
                                                        </div>

                                                    </div>
                                                    <div class="pull-right info m-l-10">
                                                        <ul class="display-style">
                                                            <li class="m-r-20">
                                                                <a href="#">
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span *ngIf="isSeller"><a type="button" data-toggle="dropdown">
                                                                        <i class="fa fa-ellipsis-v"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa fa-reply m-r-10 m-l-10"></i>
                                                                            Respond</a>
                                                                        <a class="dropdown-item font-12"><i
                                                                                class="fa fa-trash m-r-10 m-l-10"></i>
                                                                            Delete</a>
                                                                    </div>
                                                                </span>

                                                            </li>
                                                        </ul>


                                                    </div>
                                                    <div class="m-t-60">
                                                        <p class="m-l-45">
                                                            Product is good
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="chart tab-pane " id="revenue-chart"
                                        style="display: none; height: 300px;"></div>
                                    <div class="chart tab-pane active" id="sales-chart"
                                        style="display: none; position: relative; height: 300px;cursor: pointer;">
                                    </div>
                                    <div class="chart" id="line-chart" style="display: none; height: 277px;"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>