<div class="container-fluid">
    <div class="card padding-20">
        <div class="m-t-20">
            <div class="row text-center ">
                <div class="col">
                    <h3 class="tittle-w3l">Invoice 
                        <span class="heading-style">
                            <i></i>
                            <i></i>
                            <i></i>
                        </span>
                    </h3>
                    <div class="m-r-50">
                        <i class="fa fa-download float-right  " aria-hidden="true"></i>
                        <i class="fa fa-print float-right p-r-10" aria-hidden="true"></i>
                    </div>
                </div>
               
            </div>
        </div>
       
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="invoice">
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        <h4 class="m-b-10">Billing Address</h4>
                        <address>
                            <strong>Admin, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            Phone: (804) 123-5432<br />
                            Email: info@almasaeedstudio.com
                        </address>
                    </div><!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <h4 class="m-b-10">Shipping Address</h4>
                        <address>
                            <strong>John Doe</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            Phone: (555) 539-1037<br />
                            Email: john.doe@example.com
                        </address>
                    </div><!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <b>Invoice #007612</b><br />
                        <b class="m-r-5">Place of Delivery:</b> Tamilnadu<br />
                        <b class="m-r-5">Order ID:</b> 4F3S8J<br />
                        <b class="m-r-5">Payment Due:</b> 2/22/2014<br />
                        <b class="m-r-5">PAN No:</b> AACCV7480N<br/>
                        <b class="m-r-5">GST Registration No:</b> 06AACCV7480N1ZQ

                    </div><!-- /.col -->
                </div><!-- /.row -->

                <!-- Table row -->
                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Qty</th>
                                    <th>Product</th>
                                    <th>Seller Name</th>
                                    <th>Seller Address</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Call of Duty</td>
                                    <td>Varindavan fabrics pvt ltd</td>
                                    <td>
                                        plot 19 A, Delhi Sanoli Bye Pass , opposite sector
                                        25, huda
                                        Panipat, Haryana, 132103</td>
                                        <td>$64.50</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Call of Duty</td>
                                    <td>Varindavan fabrics pvt ltd</td>
                                 
                                    <td>
                                        plot 19 A, Delhi Sanoli Bye Pass , opposite sector
                                        25, huda
                                        Panipat, Haryana, 132103</td>
                                        <td>$64.50</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Call of Duty</td>
                                    <td>Varindavan fabrics pvt ltd</td>
                                    <td>
                                        plot 19 A, Delhi Sanoli Bye Pass , opposite sector
                                        25, huda
                                        Panipat, Haryana, 132103</td>
                                        <td>$64.50</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Call of Duty</td>
                                    <td>Varindavan fabrics pvt ltd</td>
                                    <td>
                                        plot 19 A, Delhi Sanoli Bye Pass , opposite sector
                                        25, huda
                                        Panipat, Haryana, 132103</td>
                                        <td>$64.50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6">
                        <p class="lead"><b>Payment Methods:</b></p>
                        <p class="text-style">Cash on Delivery</p>

                    </div><!-- /.col -->
                    <div class="col-xs-6">

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>$250.30</td>
                                </tr>
                                <tr>
                                    <th>Tax (9.3%)</th>
                                    <td>$10.34</td>
                                </tr>
                                <tr>
                                    <th>Shipping:</th>
                                    <td>$5.80</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>$265.24</td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->

                <!-- this row will not appear when printing -->
            </section><!-- /.content -->
            <div class="clearfix"></div>
        </div><!-- /.content-wrapper -->
    </div>

</div>