<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 class="tittle-w3l">Reviews
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="auto">
            <table class="table table-bordered table-striped example1 m-t-10">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Author</th>
                        <th>Comment</th>
                        <th>Rating</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of reviewDetails">
                        <td><img class="img-fluid avatar" src="{{x.path}}"></td>
                        <td>{{x.author}}</td>
                        <td>{{x.title}}</td>
                        <td>
                            <ul>
                                <li class="w-100">
                                  <small class="text-success">
                                    <div class="dashboard-rating1">
                                      <span class="dashboard-starRating">
                                        <input id="rating5" type="radio"  value="5" [checked]="x.rate === 5" disabled/>
                                        <label for="rating5"></label>
                                        <input id="rating4" type="radio"  value="4" [checked]="x.rate === 4" disabled/>
                                        <label for="rating4"></label>
                                        <input id="rating3" type="radio"  value="3"  [checked]="x.rate === 3" disabled/>
                                        <label for="rating3"></label>
                                        <input id="rating2" type="radio"  value="2" [checked]="x.rate === 2" disabled/>
                                        <label for="rating2"></label>
                                        <input id="rating1" type="radio"  value="1" [checked]="x.rate === 1" disabled/>
                                        <label for="rating1"></label>
                                      </span>
                                    </div>
                                  </small>
                                </li>
                              </ul>
                        </td>
                        <td>{{x.status}}</td>
                        <td>{{x.date}}</td>
                        <td>
                            <a class="dropdown-item font-12" routerLink="/dashboard/reviews/review-details">
                                <i class="fa fa-eye m-r-5 icon-style m-l-10" title="View"></i>
                            </a>

                            <a class="dropdown-item font-12"><i class="fa fa-check m-r-5 m-l-10 icon-style" title="Approve"></i>
                            </a>

                            <a class="dropdown-item font-12"><i class="fa fa-times m-r-5 m-l-10 icon-style"
                                    title="Deny"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>