<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">

                        <h3 class="tittle-w3l">{{isEdit? 'Update Offer':'Add Offer'}}
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class='col-md-3'></div>
            <div class='col-md-6'>
                <div class='card m-b-30'>
                    <form [formGroup]="offerForm" (submit)="createOffer()">
                        <div class="form-group">
                            <div class='col-md-12 m-t-10'>
                                <div class='col-md-12'>
                                    <div class="floating-label-group">
                                        <input type="text" class="form-control" autocomplete="off" required
                                         formControlName="name">
                                        <label class="floating-label">Name</label>
                                    </div>
                                    <div *ngIf="formSubmitted && form.name.errors?.required"
                                    class="valid-error">
                                    Name is
                                    required.
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='col-md-12 m-t-10'>
                                <div class='col-md-12'>
                                    <div class="floating-label-group">
                                        <textarea class="form-control" autocomplete="off" required
                                        formControlName="description"></textarea>
                                        <label class="floating-label-address">Description</label>
                                    </div>
                                    <div *ngIf="formSubmitted && form.description.errors?.required"
                                    class="valid-error">
                                    Description is
                                    required.
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='col-md-12 m-t-10'>
                                <div class='col-md-12'>
                                    <div class="floating-label-group">
                                        <input type="text" class="form-control" autocomplete="off" required
                                        formControlName="percentage">
                                        <label class="floating-label">Percentage</label>
                                    </div>
                                    <div *ngIf="formSubmitted && form.percentage.errors?.required"
                            class="valid-error">
                            Percentage is
                            required.
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='col-md-12 m-t-10'>
                                <div class='col-md-12'>
                                    <div class="floating-label-group">
                                        <input type="text" class="form-control" autocomplete="off" required
                                        formControlName="price">
                                        <label class="floating-label">Price</label>
                                    </div>
                                    <div *ngIf="formSubmitted && form.price.errors?.required"
                            class="valid-error">
                            Price is
                            required.
                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='col-md-12 h-60 p-t-10 m-b-20'>
                                <ejs-datepicker placeholder='Valid From' (change)="fromDateChanged($event)" [min]="minFromDate" formControlName="validFrom">
                                </ejs-datepicker>
                            </div>
                            <div *ngIf="formSubmitted && form.validFrom.errors?.required"
                            class="valid-error" style="margin-left: 25px;">
                            ValidFrom date is
                            required.
                        </div>
                        </div>
                        <div class="form-group">
                            <div class='col-md-12 h-60 p-t-10 m-b-20'>

                                <ejs-datepicker placeholder='Valid To' [min]="minToDate" formControlName="validTo">
                                </ejs-datepicker>

                            </div>
                            <div *ngIf="formSubmitted && form.validTo.errors?.required"
                            class="valid-error" style="margin-left: 25px;">
                            ValidTo date is
                            required.
                        </div>
                        </div>


                        <div class="text-center m-t-30">
                            <div class="row">

                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-style btn-width w-45 m-b-30"> {{isEdit? 'Update Offer':'Add Offer'}}</button>

                                    <button type="submit"
                                        class="btn btn-style btn-width w-45 m-b-30 m-l-10" (click)="goBack()">Cancel</button>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>

                <div class='col-md-3 m-b-30'> </div>
            </div>

        </div>
    </div>


</div>