<hr>
<div class="container">
  <!-- <div class="side-bar col-md-3"> -->
  <!-- <div class="search-hotel">
      <h3 class="h1-color">Categories</h3>
      <ejs-treeview [fields]='field' (nodeClicked)='nodeclicked($event)'>

      </ejs-treeview>
    </div> -->
  <!-- </div> -->
  <!-- <div class="col-md-9"> -->
  <div id="page-content-wrapper">
    <div class="content padding-20">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="page-title text-centre">SubCategories List</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Path</th>
                  <th>Created Date</th>
                  <th>Created by</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subCategory of subCategoriesList">
                  <td>{{subCategory?.name}}</td>
                  <td>{{subCategory?.path}}</td>
                  <td>{{subCategory?.created_at |date}}</td>
                  <td>{{subCategory?.created_by}}</td>
                  <td>
                    <a class="dropdown-item font-12"><i class="fa fa-pencil m-r-5"
                        (click)="navigateToEditPage(subCategory?.id)"></i>
                    </a>
                    <a class="dropdown-item font-12"><i class="fa fa-trash m-r-5 m-l-10"
                        (click)="deleteSubCategory(subCategory?.id)"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>