<app-header></app-header>
<div class="container m-t-30 m-b-10">
  <div class="row">
    <div class="col-md-9">
      <h3 class="text-style line-style-height m-b-30">
        Select a payment method
      </h3>
      <div class="panel panel-default padding-30">
        <div class="row border-class m-b-10">
          <div class="col-md-5">
            <h5 class="font-class"><b>Your saved credit and debit cards</b></h5>
          </div>
          <div class="col-md-4">
            <p class="small-font">Name on card</p>
          </div>
          <div class="col-md-3">
            <p class="small-font">Expires on</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="check_box_one">
              <div class="radio_one">
                <input type="radio" name="radio" checked="" />
                <i></i
                ><label class="control-label font-13"
                  >HDFC Bank ending in 6232</label
                >
                <img src="../../../assets/products/images/pay2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            ABC
          </div>
          <div class="col-md-3">
            05/2020
          </div>
        </div>

        <h5 class="font-class border-class line-height-class"><b>Another payment method</b></h5>
        <div class="check_box_one m-t-10">
          <div class="radio_one">
            <input type="radio" name="radio" />
            <i></i
            ><label class="control-label font-13"
              >Add Debit/Credit/ATM Card</label
            >
          </div>
        </div>
        <div class="sub-some child-momu m-l-36">
          <ul>
            <li>
              <img src="../../../assets/products/images/pay1.png" alt="" />
            </li>
            <li>
              <img src="../../../assets/products/images/pay2.png" alt="" />
            </li>

            <li>
              <img src="../../../assets/products/images/pay3.png" alt="" />
            </li>
            <li>
              <img src="../../../assets/products/images/pay6.png" alt="" />
            </li>
          </ul>
        </div>

        <div class="check_box_one m-t-10">
          <div class="radio_one">
            <input type="radio" name="radio" />
            <i></i><label class="control-label font-13">Net Banking</label>
          </div>
        </div>
        <span>
          <select class="form-control dropdown-style m-l-36">
            <option value="">Choose an option</option>
            <option value="1">Axis Bank</option>
            <option value="2">HDFC Bank</option>
            <option value="2">Kotak Bank</option>
          </select>
        </span>
        <div class="check_box_one m-t-10">
          <div class="radio_one">
            <input type="radio" name="radio" />
            <i></i><label class="control-label font-13">Other UPI Apps</label>
          </div>
        </div>
        <div class="check_box_one m-t-10">
          <div class="radio_one">
            <input type="radio" name="radio" />
            <i></i
            ><label class="control-label font-13">EMI Unavailable Why?</label>
          </div>
        </div>
        <div class="check_box_one m-t-10">
          <div class="radio_one">
            <input type="radio" name="radio" />
            <i></i
            ><label class="control-label font-13"
              >Pay on delivery(Temporarily suspended)
            </label>
            <div>
              <small
                >To ensure social distancing, we have temporarily suspended the
                option to Pay on Delivery.</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 m-t-55">
      <div class="background p-l-40">
        <span>
          <button class="btn btn-warning btn-width m-b-10">
            Continue
          </button></span
        >
        <div>
          <h5>You can review this order before it's final.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="border-class">
        <h4 class="line-height-style"><b>More Payment Options</b></h4>
      </div>
      <div>
        <h5 class="line-height-style">
          <b>Gift Cards, Vouchers & Promotional Codes</b>
        </h5>
      </div>
      <span>
        <a
          data-toggle="collapse"
          href="#multiCollapseExample1"
          role="button"
          aria-expanded="false"
          aria-controls="multiCollapseExample1"
          >Enter a gift card, voucher or promotional code</a
        >
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <div class="row m-t-10 m-b-10">
                  <div class="col-md-4">
                    <input class="form-control" type="text" name="name" />
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-secondary m-l-10">Apply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="col-md-3 m-t-55 m-b-20">
      <div class="background p-l-40">
        <span>
          <button class="btn btn-warning btn-width m-b-10">
            Continue
          </button></span
        >
        <div>
          <h5>You can review this order before it's final.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
