<div class="page-head_agile_info_w3l"></div>
<div class="container padding-30">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="border">
        <h2>
          <small class="icon-style"><i class="fa fa-check"></i></small>Thank
          you, your order has been placed.
        </h2>
        <h5 class="m-l-30">
          Please check your email for order confirmation and detailed delivery
          information
        </h5>
      </div>
    </div>
  </div>
</div>
