<app-header></app-header>
<!-- banner-2 -->
<div class="page-head_agile_info_w3l"></div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
  <div class="agile_inner_breadcrumb">
    <div class="container">
      <ul class="w3_short">
        <li>
          <a href="index.html">Home</a>
          <i>|</i>
        </li>
        <li>Cart Page</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h4 class="text-left heading-style">
    Shopping Cart
  </h4>
  <div class="row">
    <div class="col-md-9">
      <div class="checkout-right">
        <div class="row tablecart">
          <div class="col-md-3">
            <img
              src="../../../assets/products/images/m1.jpg"
              alt=" "
              class="img-responsive"
            />
          </div>
          <div class="col-md-6">
            <ul>
              <li class="font-class">
                <a href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                  >Almonds 100g</a
                >
              </li>
              <li>
                <small class="text-success">In stock</small>
              </li>
              <li class="small-font">
                <img
                  alt=""
                  src="https://m.media-amazon.com/images/G/31/marketing/fba/fba-badge_18px._CB485936079_.png"
                  height="18px"
                  data-a-hires="https://m.media-amazon.com/images/G/31/marketing/fba/fba-badge_18px-2x._CB485942108_.png"
                />
              </li>
              <li class="small-font">
                <input type="checkbox" />
                This will be a gift<a class="m-l-10">Learn More</a>
              </li>
              <li>
                <select class="m-r-10 dropdown-style">
                  <option value="0">Qty:2</option>
                  <option value="0">2(Minimum order quantity)</option>
                  <option value="0">3</option>
                  <option value="0">4</option>
                  <option value="0">5</option>
                  <option value="0">6</option>
                </select>
                |<a class="small-font m-l-10 m-r-10">Delete</a>|<a
                  class="small-font m-l-10 m-r-10"
                  >Save for later</a
                >|<a class="small-font m-l-10 m-r-10">See more like this</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 text-right heading-style">
            ₹279.00
          </div>
        </div>
        <div class="text-right heading-style">
          Subtotal (1 item): ₹279.00
        </div>
      </div>
      <h4 class="text-left heading-style">
        Saved for later (2 items)
      </h4>
      <div class="row tablecart">
        <div class="col-md-3">
          <img
            src="../../../assets/products/images/a2.jpg"
            alt=" "
            class="img-responsive"
          />
        </div>
        <div class="col-md-6">
          <ul>
            <li class="font-class">
              <a href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                >Harpic</a
              >
            </li>
            <li>
              <small class="text-warning">Only 3 left in stock.</small>
            </li>
            <li class="small-font">
              Sold by come ffall in love
            </li>
            <li>
              <a class="small-font m-r-10">Delete</a>|<a
                class="small-font m-l-10 m-r-10"
                >Move to Cart</a
              >|<a class="small-font m-l-10 m-r-10">Move to Wish List</a>|<a
                class="small-font m-l-10 m-r-10"
                >See more like this</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-3 text-right heading-style">
          ₹120.00
        </div>
      </div>
      <div class="row tablecart">
        <div class="col-md-3">
          <img
            src="../../../assets/products/images/a3.jpg"
            alt=" "
            class="img-responsive"
          />
        </div>
        <div class="col-md-6">
          <ul>
            <li class="font-class">
              <a href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                >Comfort</a
              >
            </li>
            <li>
              <small class="text-success">In stock</small>
            </li>
            <li class="small-font">
              <img
                alt=""
                src="https://m.media-amazon.com/images/G/31/marketing/fba/fba-badge_18px._CB485936079_.png"
                height="18px"
                data-a-hires="https://m.media-amazon.com/images/G/31/marketing/fba/fba-badge_18px-2x._CB485942108_.png"
              />
            </li>
            <li class="small-font">
              <input type="checkbox" />
              This will be a gift<a>Learn More</a>
            </li>
            <li>
              <a class="small-font m-r-10">Delete</a>|<a
                class="small-font m-l-10 m-r-10"
                >Move to Cart</a
              >|<a class="small-font m-l-10 m-r-10">Move to Wish List</a>|<a
                class="small-font m-l-10 m-r-10"
                >See more like this</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-3 text-right heading-style">
          ₹149.00
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="text-center rightCardStyle">
        <i class="fa fa-check text-success"></i
        ><small class="text-success"
          >Your order is eligible for FREE Delivery.</small
        >
        <div class="text-style">
          <small>Select this option at checkout. <a>Details</a></small>
        </div>
      </div>
      <div class="background p-l-40">
        <small class="font-class m-t-10">Subtotal (3 items): ₹837.00</small>
        <div>
          <span class="m-l-10">
            <input type="checkbox" />
            This order contains a gift</span
          >
        </div>

        <div>
          <button class="btn btn-warning btn-width">Proceed to Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //checkout page -->
