<div class="container-fluid m-t-20">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">
        Subscription Plans
        <span class="heading-style">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </h3>
    <div class="float-right m-r-17 m-t-20">
        <button class="btn btn-style">Upgrade</button>
    </div>
    <!-- //tittle heading -->
    <!-- product right -->
    <div class="agileinfo-ads-display col-md-8 m-t-30">
        <div class="wrapper">
            <!-- third section (oils) -->
            <div class="row">
                <div>
                    <div class="col-md-4">
                        <div class="panel padding-10 panelActive panelClass">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="item-info-product">
                                    <h3>
                                        <span>Basic</span>
                                    </h3>
                                    <h4 class="m-t-10">
                                        <a href="single.html">$205.00</a>
                                        <div class="m-t-10">
                                            <small class="smallfont">
                                                Per Year
                                            </small>
                                        </div>

                                    </h4>
                                    <div class="info-product-price row">
                                        <p class="item_price">
                                            Process of investors signing up and committing to invest in a financial
                                            instrument
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel padding-10 panelClass">

                            <div class="men-pro-item simpleCart_shelfItem">

                                <div class="item-info-product">
                                    <h3>
                                        <span>Starter</span>
                                    </h3>
                                    <h4 class="m-t-10">
                                        <a href="single.html">$300.00</a>
                                        <div class="m-t-10">
                                            <small class="smallfont">
                                                Per Year
                                            </small>
                                        </div>

                                    </h4>
                                    <div class="info-product-price row">
                                        <p class="item_price">
                                            Process of investors signing up and committing to invest in a financial
                                            instrument
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel padding-10 panelClass">

                            <div class="men-pro-item simpleCart_shelfItem">

                                <div class="item-info-product">
                                    <h3>
                                        <span>Premium</span>
                                    </h3>
                                    <h4 class="m-t-10">
                                        <a href="single.html">$350.00</a>
                                        <div class="m-t-10">
                                            <small class="smallfont">
                                                Per Year
                                            </small>
                                        </div>

                                    </h4>
                                    <div class="info-product-price row">
                                        <p class="item_price">
                                            Process of investors signing up and committing to invest in a financial
                                            instrument
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4 ">

        <div class="panel padding-15 m-t-10">
            <h5><b>29-07-2020</b></h5>
            <div>
                <small class="text-upper"><b>Subscription expiry date</b></small>
            </div>
        </div>
        <h4><b>Payment Method</b></h4>
        <div class="card padding-15 m-t-20">
            <span><i class="fa fa-cc-visa"><b class="m-l-10">Visa</b></i></span>
            <div class="font-13">
                XXXX-XXXX-XXXX-5484
            </div>
            <div>
                <span><i class="fa fa-calendar"><b class="m-l-16">Expires On</b></i></span>
                <div class="font-13">
                    XX/XXXX
                </div>
            </div>
        </div>
    </div>
    <!-- //product right -->
</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>