<!-- banner-2 -->
<div class="page-head_agile_info_w3l"></div>
<!-- //banner-2 -->
<div class="container-fluid margin-30">
  <!-- //tittle heading -->
  <div class="checkout-right">
    <!--Horizontal Tab-->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#menu1">Your Lists</a></li>
      <li><a data-toggle="tab" href="#menu2">Your Idea Lists</a></li>
      <li><a data-toggle="tab" href="#menu3">Your Friends</a></li>
      <a class="float m-t-10 m-r-10 font-13" data-toggle="modal" data-target="#modalCreateList">Create a list</a>
    </ul>
    <div class="tab-content">
      <div id="menu1" class="tab-pane fade in active">
        <div>
          <div class="vertical_post check_box_agile">
            <div class="row">
              <div class="col-md-3 background m-l-30">
                <div class="row">
                  <div class="col-md-6">
                    <a class="font-style">Shopping List</a>
                    <div>
                      <small><a class="text-style">Default List</a></small>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <small><a class="text-style"> Private</a></small>
                  </div>
                </div>
              </div>
              <div class="col-md-9 p-l-40 ">
                <div class="border-class">
                  <p class="font-style">
                    Shopping List<small class="small-font m-l-10 private-style">Private</small>
                    <span class="float">
                      <a class="small-font m-r-10"><i class="fa fa-share-alt m-r-10 font-13"></i>Send list
                        to others</a>|
                      <span class="dropdown">
                        <a class="small-font dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false"><i class="fa fa-ellipsis-h m-r-10 font-13"></i>More</a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Manage List</a></li>
                          <li><a href="#">Print List</a></li>
                        </ul>
                      </span>
                    </span>
                  </p>
                  <div class="m-b-10">
                    <i class="fa fa-user"></i>
                    <button class="btn button-style m-l-10">
                      <a><i class="fa fa-plus m-r-10"></i>Invite</a>
                    </button>
                  </div>
                </div>
                <div class="border-class padding-20">
                  <span class="buttons">
                    <a class="text-style grid-class"><i class="fa fa-th-large"></i></a>
                    <a class="text-style grid-active list-class m-l-10"><i class="fa fa-th-list"></i></a>
                  </span>

                  <small><a>
                      <i class="fa fa-plus m-l-10"></i>Add Idea to List</a></small>
                  <span class="float">
                    <span class="fa fa-search search-style"></span>
                    <input type="text" class="searchbox" placeholder="Search this list" />
                    |
                    <a class="text-style m-l-10 font-13">Filter & Sort<i class="fa fa-chevron-down m-l-10"></i>
                    </a>
                  </span>
                </div>
                <div id="list">



                  <div *ngFor="let x of wishList; let i= index;" class="checkout-right list-style">
                    <div class="row tablecart">
                      <div class="col-md-3">
                        <img [src]="x.path" alt=" " class="img-responsive" />
                      </div>
                      <div class="col-md-6">
                        <ul>
                          <li class="font-class font-bold">
                            <a>{{x.productName}}</a>
                          </li>
                          <li>
                            <small class="text-success">
                              <div class="rating1">
                                <span class="starRating">
                                  <input id="rating5" type="radio" [name]="x.productName" value="5"
                                    [checked]="x.star_rate === 5" disabled />
                                  <label for="rating5" disabled>5</label>
                                  <input id="rating4" type="radio" [name]="x.productName" value="4"
                                    [checked]="x.star_rate === 4 " disabled />
                                  <label for="rating4" disabled>4</label>
                                  <input id="rating3" type="radio" [name]="x.productName" value="3"
                                    [checked]="x.star_rate === 3" disabled />
                                  <label for="rating3" disabled>3</label>
                                  <input id="rating2" type="radio" [name]="x.productName" value="2"
                                    [checked]="x.star_rate === 2" disabled />
                                  <label for="rating2" disabled>2</label>
                                  <input id="rating1" type="radio" [name]="x.productName" value="1"
                                    [checked]="x.star_rate === 1" disabled />
                                  <label for="rating1" disabled>1</label>
                                </span>
                                <a class="small-font">50</a>
                              </div>
                            </small>
                          </li>
                          <li class="small-font rupees-style">
                            ₹{{ x.price }}
                          </li>

                          <li class="small-font">
                            1 offer(s)from ₹{{ x.price }}
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3 heading-style">
                        <ul>
                          <li class="small-font">Item added on {{x.createdDate |date}}</li>
                          <li>
                            <button (click)="moveToCart(x,i)" class="btn btn-warning btn-width">
                              Add to Cart
                            </button>
                          </li>
                          <li>
                            <a (click)="removeWishList(x.id)" class="small-font">Remove Item</a>
                          </li>
                          <li>
                            <a class="small-font">Add comment,quantity & priority</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- <div id="grid">
                  <div class="row">
                    <div class="col-md-4 product-men grid-style m-r-10">
                      <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                          <img src="../../../assets/products/images/k1.jpg" alt="" title="Zeeba Basmati Rice" />
                          <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                              <a href="single.html" class="link-product-add-cart">Quick View</a>
                            </div>
                          </div>
                          <span class="product-new-top">
                            <a tabindex="0" role="button" data-placement="bottom" data-html="true" data-toggle="popover"
                              data-trigger="focus"
                              data-content="<div><ul><li><a>Add comment, quantity & priority</a></li> <li><a>Move</a></li> <li><a>Delete</a></li></ul></div>">
                              <i class="fa fa-ellipsis-h">
                              </i>
                            </a>
                          </span>
                        </div>
                        <div class="item-info-product">
                          <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <button class="btn btn-secondary btn-width margin-top-40">
                              See all buying options
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-men grid-style">
                      <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                          <img src="../../../assets/products/images/k10.jpg" alt="" title="Snickers" />
                          <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                              <a href="single.html" class="link-product-add-cart">Quick View</a>
                            </div>
                          </div>
                          <span class="product-new-top">
                            <a tabindex="0" role="button" data-placement="bottom" data-html="true" data-toggle="popover"
                              data-trigger="focus"
                              data-content="<div><ul><li><a>Add comment, quantity & priority</a></li> <li><a>Move</a></li> <li><a>Delete</a></li></ul></div>">
                              <i class="fa fa-ellipsis-h">
                              </i>
                            </a>
                          </span>
                        </div>
                        <div class="item-info-product">
                          <div class="info-product-price">
                            <span class="item_price">$78.00</span>
                          </div>
                          <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <button class="btn btn-warning btn-width">
                              Add to Cart
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="section">
                  <!-- container -->
                  <div class="container">
                    <!-- row -->
                    <div class="row">
                      <!-- section-title -->
                      <div class="col-md-12">
                        <div class="section-title">
                          <h2 class="title">Popular Categories</h2>
                          <div class="pull-right">
                            <div class="product-slick-dots-1 custom-dots"></div>
                          </div>
                        </div>
                      </div>
                      <!-- /section-title -->

                      <!-- banner -->
                      <!-- <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="banner banner-2">
                          <img src="../../../../../assets/Home/img/banner14.jpg" alt="">
                          <div class="banner-caption">
                            <h2 class="white-color">NEW<br>COLLECTION</h2>
                            <button class="primary-btn">Shop Now</button>
                          </div>
                        </div>
                      </div> -->
                      <!-- /banner -->

                      <!-- Product Slick -->
                      <div class="col-md-9 col-sm-6 col-xs-6">
                        <div class="row">
                          <div id="product-slick-1" class="product-slick">
                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <div class="product-label">
                                  <span>New</span>
                                  <span class="sale">-20%</span>
                                </div>
                                <ul class="product-countdown">
                                  <li><span>00 H</span></li>
                                  <li><span>00 M</span></li>
                                  <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product01.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->

                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <div class="product-label">
                                  <span class="sale">-20%</span>
                                </div>
                                <ul class="product-countdown">
                                  <li><span>00 H</span></li>
                                  <li><span>00 M</span></li>
                                  <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product07.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->

                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <div class="product-label">
                                  <span>New</span>
                                  <span class="sale">-20%</span>
                                </div>
                                <ul class="product-countdown">
                                  <li><span>00 H</span></li>
                                  <li><span>00 M</span></li>
                                  <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product06.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->

                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <div class="product-label">
                                  <span>New</span>
                                  <span class="sale">-20%</span>
                                </div>
                                <ul class="product-countdown">
                                  <li><span>00 H</span></li>
                                  <li><span>00 M</span></li>
                                  <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product08.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->
                          </div>
                        </div>
                      </div>
                      <!-- /Product Slick -->
                    </div>
                    <!-- /row -->

                    <!-- row -->
                    <div class="row">
                      <!-- section title -->
                      <div class="col-md-12">
                        <div class="section-title">
                          <h2 class="title">Products On Sale</h2>
                          <div class="pull-right">
                            <div class="product-slick-dots-2 custom-dots">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- section title -->

                      <!-- Product Single -->
                      <!-- <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single product-hot">
                          <div class="product-thumb">
                            <div class="product-label">
                              <span class="sale">-20%</span>
                            </div>
                            <ul class="product-countdown">
                              <li><span>00 H</span></li>
                              <li><span>00 M</span></li>
                              <li><span>00 S</span></li>
                            </ul>
                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                            <img src="../../../../../assets/Home/img/product01.jpg" alt="">
                          </div>
                          <div class="product-body">
                            <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                            <div class="product-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o empty"></i>
                            </div>
                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                            <div class="product-btns">
                              <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                              <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                              <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <!-- /Product Single -->

                      <!-- Product Slick -->
                      <div class="col-md-9 col-sm-6 col-xs-6">
                        <div class="row">
                          <div id="product-slick-2" class="product-slick">
                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product06.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50</h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->

                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <div class="product-label">
                                  <span class="sale">-20%</span>
                                </div>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product05.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->

                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product04.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50</h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->

                            <!-- Product Single -->
                            <div class="product product-single">
                              <div class="product-thumb">
                                <div class="product-label">
                                  <span>New</span>
                                  <span class="sale">-20%</span>
                                </div>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                  view</button>
                                <img src="../../../../../assets/Home/img/product03.jpg" alt="">
                              </div>
                              <div class="product-body">
                                <h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
                                <div class="product-rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star-o empty"></i>
                                </div>
                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                <div class="product-btns">
                                  <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                  <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to
                                    Cart</button>
                                </div>
                              </div>
                            </div>
                            <!-- /Product Single -->

                          </div>
                        </div>
                      </div>
                      <!-- /Product Slick -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /container -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="menu2" class="tab-pane fade">
        <div></div>
      </div>
      <div id="menu3" class="tab-pane fade">
        <div>
          <div class="container m-t-10">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <h2 class="text-style">You don't have any shared lists yet.</h2>
                <small>Ask a friend to share their E-Cart List with you.</small>
                <span>
                  <h4 class="text-style">Message</h4>
                </span>
                <div class="friend-list-class">
                  <span id="email-message" class="a-size-base-plus">Hi, I was wondering if you had built a list on
                    E-Cart. I'd
                    love to see what you really want. Could you share your list
                    with me?<br /><br />Thanks!<br />Geethu<br /><br />——<br /><br />To
                    view and share your lists, visit
                    <a>Your E-Cart Lists Page</a>
                  </span>
                </div>
                <span class="float m-b-10">
                  <button class="btn btn-warning friends">
                    Copy message
                  </button>
                  <button class="btn btn-warning friends">
                    Email this message
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal popup -->

<div class="modal fade" id="modalCreateList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content w-400">
      <div class="modal-header header-color">
        <h4 class="modal-title w-100 font-weight-bold header">
          <label class="small-font">Create a new list</label>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <div class="floating-label-group">
            <input type="text" class="form-control" autocomplete="off" required [(ngModel)]="wishListName">
            <label class="floating-label font-13 m-l-36">List Name</label>
          </div>
        </div>

        <div>
          <span class="small-font">Use lists to save items for later. All lists are private unless you share them with
            others.

          </span>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center header-color">
        <button class="btn btn-default header-color">Cancel</button>
        <button class="btn btn-warning " (click)="createWishList()">Create List</button>
      </div>
    </div>
  </div>
</div>