<!-- banner-2 -->
<div class="page-head_agile_info_w3l"></div>
<!-- //banner-2 -->
<div class="container-fluid margin-30">
  <!-- //tittle heading -->
  <div class="checkout-right">
    <!--Horizontal Tab-->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#menu1">Your Lists</a></li>
      <li><a data-toggle="tab" href="#menu2">Your Idea Lists</a></li>
      <li><a data-toggle="tab" href="#menu3">Your Friends</a></li>
      <a class="float m-t-10 m-r-10 font-13" data-toggle="modal" data-target="#modalCreateList">Create a list</a>
    </ul>
    <div class="tab-content">
      <div id="menu1" class="tab-pane fade in active">
        <div>
          <div class="vertical_post check_box_agile">
            <div class="row">
              <div class="col-md-3 background m-l-30">
                <div class="row">
                  <div class="col-md-6">
                    <a class="font-style">Shopping List</a>
                    <div>
                      <small><a class="text-style">Default List</a></small>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <small><a class="text-style"> Private</a></small>
                  </div>
                </div>
              </div>
              <div class="col-md-9 p-l-40 ">
                <div class="border-class">
                  <p class="font-style">
                    Shopping List<small class="small-font m-l-10 private-style">Private</small>
                    <span class="float">
                      <a class="small-font m-r-10"><i class="fa fa-share-alt m-r-10 font-13"></i>Send list
                        to others</a>|
                      <span class="dropdown">
                        <a class="small-font dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false"><i
                            class="glyphicon glyphicon-option-horizontal m-r-10 font-13"></i>More</a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Manage List</a></li>
                          <li><a href="#">Print List</a></li>
                        </ul>
                      </span>
                    </span>
                  </p>
                  <div class="m-b-10">
                    <i class="fa fa-user"></i>
                    <button class="btn button-style m-l-10">
                      <a><i class="fa fa-plus m-r-10"></i>Invite</a>
                    </button>
                  </div>
                </div>
                <div class="border-class padding-20">
                  <span class="buttons">
                    <a class="text-style grid-class"><i class="glyphicon glyphicon-th"></i></a>
                    <a class="text-style grid-active list-class m-l-10"><i class="glyphicon glyphicon-th-list"></i></a>
                  </span>

                  <small><a>
                      <i class="fa fa-plus m-l-10"></i>Add Idea to List</a></small>
                  <span class="float">
                    <span class="fa fa-search search-style"></span>
                    <input type="text" class="searchbox" placeholder="Search this list" />
                    |
                    <a class="text-style m-l-10 font-13">Filter & Sort<i class="fa fa-chevron-down m-l-10"></i>
                    </a>
                  </span>
                </div>
                <div id="list">



                  <div *ngFor="let x of wishList" class="checkout-right list-style">
                    <div class="row tablecart">
                      <div class="col-md-3">
                        <img [src]="x.path" alt=" " class="img-responsive" />
                      </div>
                      <div class="col-md-6">
                        <ul>
                          <li class="font-class">
                            <a href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart">{{x.name}}</a>
                          </li>
                          <li>
                            <small class="text-success">
                              <div class="rating1">
                                <span class="starRating">
                                  <input id="rating5" type="radio" [name]="x.name" value="5" [checked]="x.star_rate === 5"/>
                                  <label for="rating5">5</label>
                                  <input id="rating4" type="radio" [name]="x.name" value="4" [checked]="x.star_rate === 4"/>
                                  <label for="rating4">4</label>
                                  <input id="rating3" type="radio" [name]="x.name" value="3" [checked]="x.star_rate === 3" />
                                  <label for="rating3">3</label>
                                  <input id="rating2" type="radio" [name]="x.name" value="2" [checked]="x.star_rate === 2"/>
                                  <label for="rating2">2</label>
                                  <input id="rating1" type="radio" [name]="x.name" value="1" [checked]="x.star_rate === 1"/>
                                  <label for="rating1">1</label>
                                </span>
                                <a class="small-font">50</a>
                              </div>
                            </small>
                          </li>
                          <li class="small-font">
                            ₹{{ x.price }}
                          </li>

                          <li class="small-font">
                            1 offer(s)from Rs.{{ x.price }}
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-3 heading-style">
                        <ul>
                          <li class="small-font">Item added on {{x.createdDate |date}}</li>
                          <li>
                            <button (click)="moveToCart(x);removeWishList(x.id);"
                              class="btn btn-warning btn-width">
                              Add to Cart
                            </button>
                          </li>
                          <li>
                            <a (click)="removeWishList(x.id)" class="small-font">Remove Item</a>
                          </li>
                          <li>
                            <a class="small-font">Add comment,quantity & priority</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
                <div id="grid">
                  <div class="row">
                    <div class="col-md-4 product-men grid-style m-r-10">
                      <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                          <img src="../../../assets/products/images/k1.jpg" alt="" title="Zeeba Basmati Rice" />
                          <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                              <a href="single.html" class="link-product-add-cart">Quick View</a>
                            </div>
                          </div>
                          <span class="product-new-top">
                            <a tabindex="0" role="button" data-placement="bottom" data-html="true" data-toggle="popover"
                              data-trigger="focus"
                              data-content="<div><ul><li><a>Add comment, quantity & priority</a></li> <li><a>Move</a></li> <li><a>Delete</a></li></ul></div>">
                              <i class="glyphicon glyphicon-option-horizontal">
                              </i>
                            </a>
                          </span>
                        </div>
                        <div class="item-info-product">
                          <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <button class="btn btn-secondary btn-width margin-top-40">
                              See all buying options
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 product-men grid-style">
                      <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                          <img src="../../../assets/products/images/k10.jpg" alt="" title="Snickers" />
                          <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                              <a href="single.html" class="link-product-add-cart">Quick View</a>
                            </div>
                          </div>
                          <span class="product-new-top">
                            <a tabindex="0" role="button" data-placement="bottom" data-html="true" data-toggle="popover"
                              data-trigger="focus"
                              data-content="<div><ul><li><a>Add comment, quantity & priority</a></li> <li><a>Move</a></li> <li><a>Delete</a></li></ul></div>">
                              <i class="glyphicon glyphicon-option-horizontal">
                              </i>
                            </a>
                          </span>
                        </div>
                        <div class="item-info-product">
                          <div class="info-product-price">
                            <span class="item_price">$78.00</span>
                          </div>
                          <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <button class="btn btn-warning btn-width">
                              Add to Cart
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="menu2" class="tab-pane fade">
        <div></div>
      </div>
      <div id="menu3" class="tab-pane fade">
        <div>
          <div class="container m-t-10">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <h2 class="text-style">You don't have any shared lists yet.</h2>
                <small>Ask a friend to share their Amazon List with you.</small>
                <span>
                  <h4 class="text-style">Message</h4>
                </span>
                <div class="friend-list-class">
                  <span id="email-message" class="a-size-base-plus">Hi, I was wondering if you had built a list on
                    Amazon. I'd
                    love to see what you really want. Could you share your list
                    with me?<br /><br />Thanks!<br />Geethu<br /><br />——<br /><br />To
                    view and share your lists, visit
                    <a>Your Amazon Lists Page</a>
                  </span>
                </div>
                <span class="float m-b-10">
                  <button class="btn btn-secondary">
                    Copy message
                  </button>
                  <button class="btn btn-warning m-l-10">
                    Email this message
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal popup -->

<div class="modal fade" id="modalCreateList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content w-400">
      <div class="modal-header header-color">
        <h4 class="modal-title w-100 font-weight-bold header">
          <label class="small-font">Create a new list</label>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label for="list-name" class="small-font">List name</label>
          <input type="text" id="list-name" class="form-control" [(ngModel)]="wishListName">
        </div>

        <div >
         <span class="small-font">Use lists to save items for later. All lists are private unless you share them with others.

         </span>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center header-color">
        <button class="btn btn-default header-color">Cancel</button>
        <button class="btn btn-warning " (click)="createWishList()">Create List</button>
      </div>
    </div>
  </div>
</div>