<app-header></app-header>
<div class="page-head_agile_info_w3l"></div>
<div class="container m-t-10 m-b-10">
  <a class="font-13">Your Account > </a><a class="small-font">Your Orders</a>
  <div class="row m-t-20 m-b-20">
    <div class="col-md-6">
      <h2 class="text-style">Your Orders</h2>
    </div>
    <div class="col-md-6">
      <span class="float">
        <span class="fa fa-search search-style"></span>
        <input type="text" class="searchbox" placeholder="Search all orders" />
        <button class="btn m-l-10 search-orders">Search Orders</button>
      </span>
    </div>
  </div>
  <ul class="nav nav-tabs border-class" role="tablist">
    <li class="active">
      <a class="text-style" href="#home" role="tab" data-toggle="tab">
        Orders
      </a>
    </li>
    <li>
      <a class="text-style" href="#profile" role="tab" data-toggle="tab">
        Buy Again
      </a>
    </li>
    <li>
      <a class="text-style" href="#messages" role="tab" data-toggle="tab">
        Open Orders
      </a>
    </li>
    <li>
      <a class="text-style" href="#settings" role="tab" data-toggle="tab">
        Cancelled orders
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content m-t-10">
    <div class="tab-pane fade active in m-t-20" id="home">
      <b>7 orders </b> placed in
      <select class="m-l-10 dropdown-style m-b-10">
        <option value="1">last 30 days</option>
        <option value="2">past 6 months</option>
        <option value="3">2020</option>
        <option value="4">2019</option>
        <option value="5">2018</option>
      </select>
      <div class="panel panel-default m-t-20">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <span class="font-13">ORDER PLACED</span>
              <div><span class="font-13">22 April 2020</span></div>
            </div>
            <div class="col-md-3">
              <span class="font-13">TOTAL</span>
              <div><span class="font-13">558.00</span></div>
            </div>
            <div class="col-md-3">
              <span class="font-13">SHIP TO</span>
              <div>
                <a
                  tabindex="0"
                  data-placement="bottom"
                  data-html="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  data-content="<div><ul><li>Geethu</li><li>9/19A,Shiva Nanthanam,</li><li>Melatheru ,Unnamalakadai-K K Dist</li><li>UNNAMALAIKADAI, TAMIL NADU 629179</li><li>India</li><li>Phone: 9042802495</li></ul></div>"
                >
                  <span class="font-13">ABC</span
                  ><i class="fa fa-chevron-down m-l-10"></i
                ></a>
              </div>
            </div>
            <div class="col-md-3 float">
              <span class="font-13">ORDER # 404-5520880-5909925</span>
              <div>
                <a> <span class="font-13 m-r-10">Order Details</span></a
                >|
                <a
                  tabindex="0"
                  role="button"
                  data-placement="bottom"
                  data-html="true"
                  data-toggle="popover"
                  data-trigger="focus"
                  data-content="<div><ul><li><a>Invoice 1</a></li> <li><a>P-slip/Warranty 1</a></li> <li><a>Printable Order Summary</a></li></ul></div>"
                >
                  <span class="font-13">Invoice</span
                  ><i class="fa fa-chevron-down m-l-10"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="checkout-right list-style">
            <h5 class="font-class"><b>Delivered 01-May-2020</b></h5>
            <div class="row tablecart">
              <div class="col-md-3">
                <img
                  src="../../../assets/products/images/a4.jpg"
                  alt=" "
                  class="img-responsive"
                />
              </div>
              <div class="col-md-6">
                <ul>
                  <li class="font-class">
                    <a
                      href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                      >Odonil</a
                    >
                  </li>
                  <li class="font-13">Sold by:tuankay</li>
                  <li class="font-13 text-warning">
                    ₹260.00
                  </li>
                  <li>
                    <button class="btn btn-warning">
                      <i class="fa fa-refresh m-r-10"></i>Buy it again
                    </button>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 heading-style">
                <ul>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Track package
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Return items
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Share gift receipt
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Leave delivery feedback
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Write a product review
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Archive order
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <span class="font-13">ORDER PLACED</span>
              <div><span class="font-13">01 April 2020</span></div>
            </div>
            <div class="col-md-3">
              <span class="font-13">TOTAL</span>
              <div><span class="font-13">175.00</span></div>
            </div>
            <div class="col-md-3">
              <span class="font-13">SHIP TO</span>
              <div>
                <a
                  tabindex="0"
                  data-placement="bottom"
                  data-html="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  data-content="<div><ul><li>Geethu</li><li>9/19A,Shiva Nanthanam,</li><li>Melatheru ,Unnamalakadai-K K Dist</li><li>UNNAMALAIKADAI, TAMIL NADU 629179</li><li>India</li><li>Phone: 9042802495</li></ul></div>"
                >
                  <span class="font-13">ABC</span
                  ><i class="fa fa-chevron-down m-l-10"></i
                ></a>
              </div>
            </div>
            <div class="col-md-3 float">
              <span class="font-13">ORDER # 404-5520880-5909925</span>
              <div>
                <a> <span class="font-13 m-r-10">Order Details</span></a
                >|
                <a
                  tabindex="0"
                  role="button"
                  data-placement="bottom"
                  data-html="true"
                  data-toggle="popover"
                  data-trigger="focus"
                  data-content="<div><ul><li><a>Invoice 1</a></li> <li><a>Request Invoice</a></li> <li><a>Printable Order Summary</a></li></ul></div>"
                >
                  <span class="font-13">Invoice</span
                  ><i class="fa fa-chevron-down m-l-10"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="checkout-right list-style">
            <h5 class="font-class"><b>Delivered 07-Apr-2020</b></h5>
            <small>
              Package was handed directly to the customer. Signed by: CDF.
            </small>
            <div class="row tablecart m-t-10">
              <div class="col-md-3">
                <img
                  src="../../../assets/products/images/a6.jpg"
                  alt=" "
                  class="img-responsive"
                />
              </div>
              <div class="col-md-6">
                <ul>
                  <li class="font-class">
                    <a
                      href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                      >Sunsilk</a
                    >
                  </li>
                  <li class="font-13">Sold by:tuankay</li>
                  <li class="font-13 text-warning">
                    ₹175.00
                  </li>
                  <li>
                    <button class="btn btn-warning">
                      <i class="fa fa-refresh m-r-10"></i>Buy it again
                    </button>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 heading-style">
                <ul>
                  <li class="line-height-style">
                    <button class="btn btn-warning btn-width">
                      Return or replace items
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Share gift receipt
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Write a product review
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Archive order
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <span class="font-13">ORDER PLACED</span>
              <div><span class="font-13">01 April 2020</span></div>
            </div>
            <div class="col-md-3">
              <span class="font-13">TOTAL</span>
              <div><span class="font-13">175.00</span></div>
            </div>
            <div class="col-md-3">
              <span class="font-13">SHIP TO</span>
              <div>
                <a
                  tabindex="0"
                  data-placement="bottom"
                  data-html="true"
                  data-toggle="popover"
                  data-trigger="hover"
                  data-content="<div><ul><li>Geethu</li><li>9/19A,Shiva Nanthanam,</li><li>Melatheru ,Unnamalakadai-K K Dist</li><li>UNNAMALAIKADAI, TAMIL NADU 629179</li><li>India</li><li>Phone: 9042802495</li></ul></div>"
                >
                  <span class="font-13">ABC</span
                  ><i class="fa fa-chevron-down m-l-10"></i
                ></a>
              </div>
            </div>
            <div class="col-md-3 float">
              <span class="font-13">ORDER # 404-5520880-5909925</span>
              <div>
                <a> <span class="font-13 m-r-10">Order Details</span></a
                >|
                <a
                  tabindex="0"
                  role="button"
                  data-placement="bottom"
                  data-html="true"
                  data-toggle="popover"
                  data-trigger="focus"
                  data-content="<div><ul><li><a>Invoice 1</a></li> <li><a>Credit note 1</a></li> <li><a>Request invoice</a></li><li><a>Printable Order Summary</a></li></ul></div>"
                >
                  <span class="font-13">Invoice</span
                  ><i class="fa fa-chevron-down m-l-10"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="checkout-right list-style">
            <h5 class="font-class"><b>Refunded</b></h5>
            <small>
              We are expecting your return. Your refund has been issued.
              <a
                tabindex="0"
                data-placement="bottom"
                data-html="true"
                data-toggle="popover"
                data-trigger="hover"
                data-content="<div>A refund will appear on your bank account or credit card statement within the next 7 days. Learn more about refund.</div>"
                >When will I get my refund?</a
              >
            </small>
            <div class="row tablecart m-t-10">
              <div class="col-md-3">
                <img
                  src="../../../assets/products/images/a12.jpg"
                  alt=" "
                  class="img-responsive"
                />
              </div>
              <div class="col-md-6">
                <ul>
                  <li class="font-class">
                    <a
                      href="https://www.amazon.in/gp/cart/view.html?ref_=nav_cart"
                      >Colin</a
                    >
                  </li>
                  <li class="font-13">Sold by:Bharatbuys</li>
                  <li class="font-13 text-warning">
                    ₹175.00
                  </li>
                  <li>
                    <button class="btn btn-warning">
                      <i class="fa fa-refresh m-r-10"></i>Buy it again
                    </button>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 heading-style">
                <ul>
                  <li class="line-height-style">
                    <button class="btn btn-warning btn-width">
                      View Return/Refund status
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-warning btn-width">
                      Problem with order
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Write a product review
                    </button>
                  </li>
                  <li class="line-height-style">
                    <button class="btn btn-secondary btn-width">
                      Archive order
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile">
      <div class="row m-b-10">
        <div class="col-md-4 product-men grid-style m-r-10">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img
                src="../../../assets/products/images/k1.jpg"
                alt=""
                title="Zeeba Basmati Rice"
              />
              <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                  <a href="single.html" class="link-product-add-cart"
                    >Quick View</a
                  >
                </div>
              </div>
            </div>
            <div class="item-info-product">
              <span class="item_price">Zeemba Rice</span>
              <div class="info-product-price">
                <span class="item_price">$78.00</span>
              </div>
              <div
                class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out"
              >
                <button class="btn btn-secondary btn-width">
                  See all buying options
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 product-men grid-style">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img
                src="../../../assets/products/images/k10.jpg"
                alt=""
                title="Snickers"
              />
              <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                  <a href="single.html" class="link-product-add-cart"
                    >Quick View</a
                  >
                </div>
              </div>
            </div>
            <div class="item-info-product">
              <span class="item_price">Snickers</span>
              <div class="info-product-price">
                <span class="item_price">$78.00</span>
              </div>
              <div
                class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out"
              >
                <button class="btn btn-warning btn-width">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="messages">
      <p class="font-class text-style padding-30">
        Looking for an order? All of your orders have been dispatched.
        <a>View all orders</a>
      </p>
    </div>
    <div class="tab-pane fade" id="settings">
      <p class="font-class text-style padding-30">
        We aren't finding any cancelled orders (for orders placed in the last 6
        months). <a>View all orders</a>
      </p>
    </div>
  </div>
</div>
