<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <h3 class="page-title">
                        </h3>
                        <h3 class="tittle-w3l">Transactions
                            <span class="heading-style">
                                <i></i>
                                <i></i>
                                <i></i>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped example1 m-t-10">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Transaction ID</th>
                        <th>Date</th>
                        <th>Payment Method</th>
                        <th>
                            Status
                        </th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01-512-122</td>
                        <td>002</td>
                        <td>20 Jul,2020</td>
                        <td>Pending</td>
                        <td>500</td>
                        <td>Debit Card</td>
                        <td>
                            <a class="dropdown-item font-12"><i class="fa fa-eye m-r-5 icon-style" title="View"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>