<div class="container-fluid">
    <div class="panel">
        <div class="content container-fluid padding-20">
            <div class="m-t-20">
                <div class="row text-center ">
                    <div class="col">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <h3 class="tittle-w3l">Coupons
                                <span class="heading-style">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </span>
                            </h3>
                        </div>
                        <div class="col-md-4">
                            <span class="float-right">
                                <button class="btn btn-style m-b-10" routerLink="/dashboard/coupons/add-coupons">Create
                                    Coupons</button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="auto">
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped example1 m-t-10">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Code</th>
                        <th>Discount Type</th>
                        <th>Amount</th>
                        <th>Usage Limit</th>
                        <th>Expiry Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="couponDetails?.length != 0">
                    <tr *ngFor="let x of couponDetails">
                        <td>{{x.name}}</td>
                        <td>{{x.code}}</td>
                        <td>{{x.discount_name}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.limit_per_coupon}}</td>
                        <td>{{x.end_date |date:'dd/MM/yyyy'}}</td>
                        <td>
                            <a (click)="navigateTodetails(x.id)" class="dropdown-item font-12"><i class="fa fa-pencil m-r-5 icon-style" title="Edit"></i>
                            </a>

                            <a class="dropdown-item font-12"><i class="fa fa-trash m-r-5 m-l-10 icon-style"
                                    data-toggle="modal" data-target="#exampleModal" title="Delete"></i>
                            </a>
                        </td>
                    </tr>



                </tbody>
                <tbody *ngIf="couponDetails?.length == 0">
                    <tr>
                      <td colspan="7" class="no-data-available">No data available in table</td>
                    </tr>
                  </tbody>
            </table>
        </div>
        </div>
    </div>


</div>
<div class="chart tab-pane " id="revenue-chart" style="display: none; height: 300px;"></div>
<div class="chart tab-pane active" id="sales-chart"
    style="display: none; position: relative; height: 300px;cursor: pointer;">
</div>
<div class="chart" id="line-chart" style="display: none; height: 277px;"></div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete the coupons?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>