.item {
    border: solid 1px;
    padding-bottom: 10px;
}
.w-200{
    width: 200px;
}
.w-100p {
    width: 100%;
}
.cart-button {
    margin: 10px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  }