a {
  color: #0066c0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #c45500;
  cursor: pointer;
}

ul {
  list-style: unset;
}

.border {
  border: 1px solid #ddd;
  padding: 14px 18px;
  background: #f7f7f7 !important;
}

.button-style {
  padding-left: 60px;
  padding-right: 60px;
}

.btn-warning {
  background: -webkit-linear-gradient(top, #f309578c, #e91e63);
  border-radius: 3px;
  border-color: #e91e63 #e91e63 #e91e63;
  color: white;
}
.btn-warning:hover {
  background: -webkit-linear-gradient(top, #f3093f4f, #e8618f);
  border-radius: 3px;
  border-color: #e91e63 #e91e63 #e91e63;
  color: white;
}