/* You can add global styles to this file, and also import other style files */
@import "./assets/css/font-awesome.css";
@import "./assets/css/green-theme.css";
@import "./assets/css/sequence-theme.modern-slide-in.css";
@import "./assets/css/style.css";

@import '../node_modules/@syncfusion/ej2-ng-navigations/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';

@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';

@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';

@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"); */
.float {
  float: right;
}

.m-l-10 {
  margin-left: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-60 {
  margin-top: 60px;
}
.btn-style{
  background-color: #e91e63;
  color:white;
  font-weight: 600;
}
.float-right{
float:right
}
.btn-style:hover{
  background-color: #e91e63;
  color:white;
  font-weight: 600;
}
.m-l-17 {
  margin-left: 17px;
}

.m-b-10 {
  margin-bottom: 10px;
}
.padding-20 {
  padding: 20px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}
.m-l-45 {
  margin-left: 45px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.padding-30 {
  padding: 30px;
}
a {
  cursor:pointer;
}
.m-l-30 {
  margin-left: 30px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-10 {
  padding: 10px;
}

.m-l-80 {
  margin-left: 80px;
}

.text-style {
  color: #111;
}

.small-font {
  font-size: 12px;
  line-height: 1.75;
}

.border-class {
  border-bottom: 1px #ddd solid;
}

.font-class {
  font-size: 17px;
  line-height: 1.255;
}

.font-13 {
  font-size: 13px;
  line-height: 1.75;
}

.line-height-style {
  line-height: 2.75;
}

.w-100 {
  width: 100%;
}

.f-weight {
  font-weight: lighter;
}

.text-centre {
  text-align: center;
}

.align-image {
  display: inline-flex;
  flex-wrap: wrap;
}
.cursor{
  cursor: pointer;
}
.p-r-10{
  padding-right: 10px;
}
.h-100{
  height: 100px;
}
.h-300{
  height: 300px;
}
.table td, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 10px !important;
}
.form-control{
  border-radius:5px;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
