a {
  cursor: pointer;
}
.primary-btn{
  margin-left: 3px!important;
}
.header-account.dropdown .custom-menu>li>a>i {
  margin-right: 5px;
  color: #e91e63;
}
.font-25 {
  font-size: 25px;
}
.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
}
.form-control {
  border-color: #e91e63;
  background-color: unset;
}
	.floating-label {
		font-size: 13px;
		color: #cccccc;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 12px;
		transition: all 0.1s ease;
	}

	.form-control:focus ~ .floating-label,
	.form-control:not(:focus):valid ~ .floating-label {
    top: -8px;
    bottom: 29px;
    background-color: #fdfbfb;
    left: 13px;
    outline: none;
    font-size: 12px;
    color: #e91e63;
  }
