<app-header></app-header>
<div class="container m-t-30 m-b-30">
  <h3 class="text-style"><b>Select a delivery address</b></h3>
  <small class="border-class"
    >Is the address you'd like to use displayed below? If so, click the
    corresponding "Deliver to this address" button. Or you can
    <a>enter a new delivery address.</a>
  </small>
  <div class="row m-t-20 border-class">
    <div class="col-md-4 m-t-10">
      <h4 class="text-style">ABC</h4>
      <h6 class="font-13">
        9/19A Sathya Bhavan
      </h6>
      <h6 class="font-13">Melatheru</h6>
      <h6 class="font-13">UNNAMALAIKADAI, TAMIL NADU</h6>
      <h6 class="font-13">629179</h6>
      <h6 class="font-13">India</h6>
      <a class="small-font">Add delivery instructions</a>
      <div>
        <button class="btn btn-warning btn-width m-b-10">
          Deliver to this address
        </button>
      </div>
      <span>
        <button class="btn btn-sm btn-secondary secondary-width">Edit</button>
        <button class="btn btn-sm btn-secondary secondary-width m-l-10">
          Delete
        </button>
      </span>
    </div>
    <div class="col-md-4 m-t-10">
      <h4 class="text-style">CDF</h4>
      <h6 class="font-13">
        IBC Knowledge park
      </h6>
      <h6 class="font-13">Near diary circle Bannerghatta Road</h6>
      <h6 class="font-13">Bengaluru, Karnataka</h6>
      <h6 class="font-13">560029</h6>
      <h6 class="font-13">India</h6>
      <a class="small-font">Add delivery instructions</a>
      <div>
        <button class="btn btn-warning btn-width m-b-10">
          Deliver to this address
        </button>
      </div>
      <span>
        <button class="btn btn-sm btn-secondary secondary-width">Edit</button>
        <button class="btn btn-sm btn-secondary secondary-width m-l-10">
          Delete
        </button>
      </span>
    </div>
  </div>
  <div class="m-t-20 row">
    <div class="col-md-6">
      <h4>Add a new address</h4>
      <small
        >Be sure to click "Deliver to this address" when you've finished.</small
      >
      <form novalidate action="#" method="post">
        <div class="first-row form-group">
          <div class="controls">
            <label class="control-label font-13">Full Name</label>
            <input class="form-control" type="text" name="name" required />
          </div>
          <div class="controls">
            <label class="control-label font-13"
              >Mobile number. (<a>Learn More</a>)</label
            >
            <input class="form-control" type="number" name="name" />
          </div>
          <div class="controls">
            <label class="control-label font-13"
              >Pincode. (<a>Learn More</a>)</label
            >
            <input class="form-control" type="text" name="name" />
          </div>
          <div class="controls">
            <label class="control-label font-13"
              >Flat, House no., Building, Company, Apartment:
            </label>
            <input class="form-control" type="text" name="name" />
          </div>
          <div class="controls">
            <label class="control-label font-13"
              >Area, Colony, Street, Sector, Village:
            </label>
            <input class="form-control" type="text" name="name" />
          </div>
          <div class="controls">
            <label class="control-label font-13"
              >Landmark e.g. near apollo hospital:
            </label>
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc. "
            />
          </div>
          <div class="controls">
            <label class="control-label font-13">Town/City: </label>
            <input class="form-control" type="text" name="name" />
          </div>
          <div class="controls">
            <label class="control-label font-13">State</label>
            <input class="form-control" type="text" name="name" />
          </div>
          <div>
            <h4 class="font-class">
              Additional Address Details (<a>What's this?</a>)
              <div>
                <small class="small-font"
                  >Preferences are used to plan your delivery. However,
                  shipments can sometimes arrive early or later than
                  planned</small
                >
              </div>
            </h4>
          </div>
          <div class="controls">
            <label class="control-label font-13">Address Type:</label>
            <select class="form-control">
              <option value="">Select an Address Type</option>
              <option value="ALB-NA">Home(7am -9pm delivery)</option>
              <option value="ADB-NA"
                >Office/commercial(10 am -6 pm delivery)</option
              >
            </select>
          </div>
        </div>

        <button class="btn btn-warning" type="submit">
          <span>Deliver to this address </span>
        </button>
      </form>
    </div>
    <div class="col-md-6">
      <h4>Search for a Pickup location near you</h4>
      <small>
        Amazon’s new service allows you to have your orders delivered at pickup
        stores located at some convenient locations in<a>select cities</a> .
        It’s simple, safe and convenient.</small
      >
      <small>
        <a>Learn More</a>
      </small>
      <div class="row">
        <div class="col-md-6">
          <div class="check_box_one">
            <div class="radio_one">
              <input type="radio" name="radio" checked="" />
              <i></i
              ><label class="control-label font-13">Search by Address</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <input class="form-control m-b-10" type="text" name="name" />
          <small> (e.g. 102, M.G. Road)</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="check_box_one">
            <div class="radio_one">
              <input type="radio" name="radio" checked="" />
              <i></i
              ><label class="control-label font-13">Search by Pincode</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control m-b-10" type="text" name="name" />
            </div>
            <div class="col-md-6">
              <small>e.g. 110049</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="check_box_one">
            <div class="radio_one">
              <input type="radio" name="radio" checked="" />
              <i></i
              ><label class="control-label font-13">Search by Landmark</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <input class="form-control m-b-10" type="text" name="name" />
          <small> e.g. AIIMS Flyover</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="check_box_one">
            <div class="radio_one">
              <input type="radio" name="radio" checked="" />
              <i></i
              ><label class="control-label font-13"
                >Search by Locker or Store Name:</label
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <input class="form-control m-b-10" type="text" name="name" />
          <small> e.g.: Juno</small>
        </div>
      </div>
      <button class="btn btn-warning m-t-10 m-l-20">Search</button>
    </div>
  </div>
</div>
